<div class="container">
    <div class="card desayuno">
        <div class="card-body">
            <h3 class="card-title title-principal">Desayuno</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_2000_omelette.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Omelette de acelgas</h3>
                        <ul class="card-text">
                            <li> 2 huevos (2 productos de origen animal)</li>
                            <li> ½ taza de acelgas (1 verdura)</li>
                            <li> 2 cucharaditas de aceite (2 aceites y grasas)</li>
                            <li> 3 tortillas de maíz (3 cereales s/g)</li>
                            <li> 1 taza de leche descremada (1 producto lácteo)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_2000_sopa_de_fideo.png" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Sopa de fideo</h3>
                        <ul class="card-text">
                            <li> 1 ½ taza de pasta de fideo (3 cereales s/g)</li>
                            <li> 60g de pechuga de pollo deshebrada (2 productos de origen animal)</li>
                            <li> ½ taza de zanahoria y brócoli (1 verdura)</li>
                            <li> 2 cucharaditas de aceite (2 aceites s/p)</li>
                            <li> 1 taza de leche descremada con té de canela sin azúcar (1 producto lácteo)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_2000_omelette y cafe.png" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Omelette de champiñones</h3>
                        <ul class="card-text">
                            <li> 2 huevos (2 productos de origen animal)</li>
                            <li> ½ taza de champiñones (1 verdura)</li>
                            <li> 2 cucharaditas de aceite (2 aceites y grasas)</li>
                            <li> 3 tortillas de maíz (3 cereales s/g)</li>
                            <li> 1 taza de leche descremada con café (1 producto lácteo)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>




<div class="container">
    <div class="card colacion">

        <div class="card-body">
            <h3 class="card-title title-principal">Colacion</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_1400_1600_2000_platano completo con crema de mani.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>1 pieza de plátano (2 frutas)</li>
                            <li>2 cucharadas de crema de cacahuate (1 aceite y grasa)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_2000_papaya y almendras.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>2 tazas de papaya (2 frutas)</li>
                            <li>10 almendras (1 aceite y grasa)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_2000_melon 2tzas con cacahuates.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>2 tazas de melón (2 frutas)</li>
                            <li>14 cacahuates (1 aceite c/p)</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>
</div>


<div class="container">
    <div class="card comida">

        <div class="card-body">
            <h3 class="card-title title-principal">Comida</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_2000_arroz_chino.png" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Arroz chino</h3>
                        <ul class="card-text">
                            <li> tazas de arroz (4 cereales s/g)</li>
                            <li> 90g de filete de res (3 productos de origen animal)</li>
                            <li> 2 tazas de verduras - chayote, zanahoria, calabaza, ejotes, espinaca (2 verduras)</li>
                            <li> 3 cucharaditas de aceite (3 aceite y grasa)</li>
                            <li> ½ taza de lentejas (1 leguminosa)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_2000_enfrijoladas.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Enfrijoladas</h3>
                        <ul class="card-text">
                            <li> 4 tortillas de maíz (4 cereales s/g)</li>
                            <li> 60g de pollo sin piel, 40g de queso panela rallado (3 productos de origen animal)</li>
                            <li> 2 tazas de jitomate, 1 taza de lechuga (¼ de cebolla para moler con los frijoles) (2 verduras)</li>
                            <li> 3 cucharadas de crema (3 aceite y grasa)</li>
                            <li> ⅓ de taza de frijoles molidos (1 leguminosa)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_2000_entomatadas.png" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Entomatadas</h3>
                        <ul class="card-text">
                            <li> 4 tortillas de maíz (4 cereales s/g)</li>
                            <li> 60g de pollo sin piel, 40g de queso panela rallado (3 productos de origen animal)</li>
                            <li> 2 tazas de tomate, ¼ de cebolla  (2 verduras)</li>
                            <li> 3 cucharaditas de aceite (3 aceite y grasa)</li>
                            <li> ⅓ de taza de frijoles molidos (1 leguminosa)</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>
</div>


<div class="container">
    <div class="card colacion">

        <div class="card-body">
            <h3 class="card-title title-principal">Colacion</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_2000_manzanas_yogurt_almendras.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>2 manzanas picadas (2 frutas)</li>
                            <li>1 taza de yogurt natural descremado sin azúcar (1 producto lácteo)</li>
                            <li>10 almendras (1 aceite c/p)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_2000_fresa_yogurt_almendras.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>2 tazas de fresas picadas (2 frutas)</li>
                            <li>1 taza de yogurt natural descremado sin azúcar (1 producto lácteo)</li>
                            <li>10 almendras (1 aceite c/p)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_2000_platano_yogurt_almendras prenatal_2100_platano y yogurt.jpeg2000" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>1/2 plátano y ¾ de taza de blueberries (2 frutas)</li>
                            <li>1 taza de yogurt descremado sin azúcar (1 producto lácteo)</li>
                            <li>10 almendras (1 aceite c/p)</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>
</div>


<div class="container">
    <div class="card cena">

        <div class="card-body">
            <h3 class="card-title title-principal">Cena</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src=".assets/prenatal/prenatal_2000_pollo con espagueti.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Pollo con Espagueti</h3>
                        <ul class="card-text">
                            <li> 1 taza de espagueti (2 cereales s/g)</li>
                            <li> ½ bistec de pollo (1 producto de origen animal)</li>
                            <li> 1 taza de tomate (1 verdura)</li>
                            <li> 2 cucharadas de crema (2 aceites y grasas)</li>
                        </ul>
                    </div>
                </div>
            </div>
       <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/prenatal/prenatal_2000_tortitas de papa.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Tortitas de papa</h3>
                    <ul class="card-text">
                        <li> 1 papa cocida (2 cereales s/g)</li>
                        <li> ⅓ de lata de atún en agua (1 productos de origen animal)</li>
                        <li> 1 taza de tomate (1 verdura)</li>
                        <li> 2 cucharaditas de aceite (2 aceites s/p)</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/prenatal/prenatal_2000_atun con papa.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Atún con papa</h3>
                    <ul class="card-text">
                        <li> 1 papa cocida picada + paprika (2 cereales s/g)</li>\
                        <li> ⅓ de lata de atún en agua (1 productos de origen animal)</li>
                        <li> ½ calabacita y 3 espárragos (1 verdura)</li>
                        <li> 2 cucharaditas de aceite (2 aceites s/p)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>