<div class="container">
    <section>
        <h2>HIPERTENSION</h2>
        <br>
        <h2>Seleciona tus calorias</h2>
        <br>
        <h3>Por que es importante el conteo calorico</h3>
        <p>
            Las calorías permiten que el organismo desarrolle funciones elementales como digerir los alimentos y mantener la temperatura corporal. Asimismo, entregan compuestos esenciales para el funcionamiento adecuado de los órganos y del sistema inmune.
        </p>
    </section>
</div>

<div class="container">

    <div class="row">
        <a routerLink="/menu1200Obesidad" class="col-sm-4" >
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">1200 kcal</h3>
                    <!--p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id venenatis sem. Ut non mollis quam, at elementum ante.</p-->
                    <a href="" class="btn btn-primary">Consulta aqui</a>
                </div>
            </div>
        </a>

        <a class="col-sm-4" routerLink="">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">1300 kcal</h3>
                    <!--p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id venenatis sem. Ut non mollis quam, at elementum ante.</p-->
                    <a href="" class="btn btn-primary">Consulta aqui</a>
                </div>
            </div>
        </a>

        <a class="col-sm-4" routerLink="">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">1400 kcal</h3>
                    <!--p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id venenatis sem. Ut non mollis quam, at elementum ante.</p-->
                    <a href="" class="btn btn-primary">Consulta aqui</a>
                </div>
            </div>
        </a>
    </div>

    <div class="row">
        <a class="col-sm-4" routerLink="">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">1500 kcal</h3>
                    <!--p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id venenatis sem. Ut non mollis quam, at elementum ante.</p-->
                    <a href="" class="btn btn-primary">Consulta aqui</a>
                </div>
            </div>
        </a>

        <a class="col-sm-4" routerLink="">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">1600 kcal</h3>
                    <!--p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id venenatis sem. Ut non mollis quam, at elementum ante.</p-->
                    <a href="" class="btn btn-primary">Consulta aqui</a>
                </div>
            </div>
        </a>

        <a class="col-sm-4" routerLink="">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">1700 kcal</h3>
                    <!--p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id venenatis sem. Ut non mollis quam, at elementum ante.</p-->
                    <a href="" class="btn btn-primary">Consulta aqui</a>
                </div>
            </div>
        </a>
    </div>

    <div class="row">
        <a class="col-sm-6" routerLink="">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">1800 kcal</h3>
                    <!--p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id venenatis sem. Ut non mollis quam, at elementum ante.</p-->
                    <a href="" class="btn btn-primary">Consulta aqui</a>
                </div>
            </div>
        </a>
        <a class="col-sm-6" routerLink="">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">2000 kcal</h3>
                    <!--p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id venenatis sem. Ut non mollis quam, at elementum ante.</p-->
                    <a href="" class="btn btn-primary">Consulta aqui</a>
                </div>
            </div>
        </a>
    </div>
</div>