<div class="container">
    <div class="card desayuno">
        <div class="card-body">
            <h3 class="card-title title-principal">Desayuno</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/hipertension/hipertension_1800_huevo con calabazas.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Huevo con calabazas</h3>
                        <ul class="card-text">
                            <li> 2 piezas de huevo (2 producto de origen animal)</li>
                            <li> 1 taza de calabaza y cebolla (1 verdura)</li>
                            <li> 2 cucharaditas de aceite (2 aceites y grasas)</li>
                            <li> 3 tortillas de maíz para freír (3 cereales s/g)</li>
                            <li> 1 taza de leche descremada (1 producto lácteo</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/hipertension/hipertension_1800_chilaquiles con huevo.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Chilaquiles con huevo</h3>
                        <ul class="card-text">
                            <li> 2 piezas de huevo (2 producto de origen animal)</li>
                            <li> 1 taza de champiñones (1 verdura)</li>
                            <li> 2 cucharaditas de aceite (2 aceites y grasas)</li>
                            <li> 3 tortillas de maíz para freír (3 cereales s/g)</li>
                            <li> 1 taza de leche descremada (1 producto lácteo)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/hipertension/hipertension_1800_tapas.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Tapas</h3>
                        <ul class="card-text">
                            <li> 2 piezas de huevo (2 producto de origen animal)</li>
                            <li> 1 taza de nopales (1 verdura)</li>
                            <li> 2 cucharaditas de aceite (2 aceites y grasas)</li>
                            <li> 3 piezas de pan cero cero  (3 cereales s/g)</li>
                            <li> 1 taza de leche descremada (1 producto lácteo)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>




<div class="container">
    <div class="card colacion">

        <div class="card-body">
            <h3 class="card-title title-principal">Colacion</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/hipertension/hipertension_1800_platano con almendras.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>1 plátano (2  frutas)</li>
                            <li>10 almendras (1 aceite y grasa)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/hipertension/hipertension_1800_manzana con cacahuates.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>2 manzanas (2 frutas)</li>
                            <li>14 pzas de cacahuates (1 aceite y grasa)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/hipertension/hipertension_1800_fresas y platano.png" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li> 1 taza de fresas (1 fruta)</li>
                            <li> ½ plátano (1 fruta)</li>
                            <li> 6 mitades de nueces trituradas  ( 1 aceite y grasa)</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>
</div>


<div class="container">
    <div class="card comida">

        <div class="card-body">
            <h3 class="card-title title-principal">Comida</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/hipertension/hipertension_1800_tostadas de pollo.png" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Tostadas de pollo</h3>
                        <ul class="card-text">
                            <li> 1 y ½ taza de lechuga, 1 taza de jitomate, cebolla al gusto (2 verduras)</li>
                            <li> 1 y ½ pieza de pechuga cocida (3 productos de origen animal)</li>
                            <li> ⅓ de taza de frijoles molidos (1 leguminosa)</li>
                            <li> ⅔ de aguacate (2 aceites y grasas)</li>
                            <li> 3 tortillas de maíz para hacer tostadas (3 cereales s/g)</li>
                            <li> ½ pieza de papa (1 cereal s/g)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/hipertension/hipertension_1800_salpicon de res.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Salpicón de res</h3>
                        <ul class="card-text">
                            <li> 2 tazas de lechuga, jitomate y cebolla (2 verduras)</li>
                            <li> 90 g de carne deshebrada (3 productos de origen animal)</li>
                            <li> 4 tortillas de maíz  para hacer tostadas (4 cereales s/g)</li>
                            <li> ½  taza de soya texturizada  (1 leguminosa)</li>
                            <li> 2 cucharaditas de aceite (2 aceites y grasas)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/hipertension/hipertension_1800_calabazas rellenas.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Calabazas rellenas</h3>
                        <ul class="card-text">
                            <li> 2 calabazas ( 2 verduras)</li>
                            <li> 1 pieza de bistec de pollo desmenuzado ( 2 productos de origen animal)</li>
                            <li> 40 g de queso panela/ 1 rebanada mediana (1 producto de origen animal)</li>
                            <li> ⅔ de aguacate (2 aceites y grasas)</li>
                            <li> ½ taza de lentejas (1 leguminosa)</li>
                            <li> 1 taza de arroz (4 cereales s/g)</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>
</div>


<div class="container">
    <div class="card colacion">

        <div class="card-body">
            <h3 class="card-title title-principal">Colacion</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/hipertension/hipertension_1800_manzana con cacahuates.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>1 manzana (1 fruta)</li>
                            <li>14 piezas de cacahuates (1 aceite y grasa)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/hipertension/hipertension_1800_piña con cacahuates.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>1 taza de piña (1 fruta)</li>
                            <li>14 piezas de cacahuates (1 aceite y grasa)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/hipertension/hipertension_1800_sandia con almendras.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>1 taza de sandía (1 fruta)</li>
                            <li>10 piezas de almendras (1 aceite y grasa)</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>
</div>


<div class="container">
    <div class="card cena">

        <div class="card-body">
            <h3 class="card-title title-principal">Cena</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/hipertension/hipertension_1800_quesadillas con ejotes.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Quesadillas con ejotes</h3>
                        <ul class="card-text">
                            <li> ½ taza de ejotes cocidos (1 verdura)</li>
                            <li> 1 rebanada de queso panela (1 producto de origen animal)</li>
                            <li> 2 tortillas de maíz (2 cereales s/g)</li>
                            <li> ⅓ de aguacate (1 aceite y grasa)</li>
                        </ul>
                    </div>
                </div>
            </div>
       <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/hipertension/hipertension_1800_tacos de bistec.png" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Tacos de bistec</h3>
                    <ul class="card-text">
                        <li> ½ taza de repollo (1 verdura)</li>
                        <li> ½ pieza de bistec (1 producto de origen animal)</li>
                        <li> 2 tortillas de maíz (2 cereales s/g)</li>
                        <li> 1 cucharadita de aceite (1 aceite y grasa)</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/hipertension/hipertension_1800_ensalada de pollo.jpg" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Ensalada de pollo</h3>
                    <ul class="card-text">
                        <li> 1 taza de lechuga, pimiento y cebolla (1 verdura)</li>
                        <li> ½ pieza de bistec de pollo (1 producto de origen animal)</li>
                        <li> 2 tortillas de maíz para hacer tostada (2 cereales s/g)</li>
                        <li> 1 cucharadita de aceite (1 aceite y grasa)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>