<div class="container">
    <div class="card desayuno">
        <div class="card-body">
            <h3 class="card-title title-principal">Desayuno</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_2200_omelette.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Omelette</h3>
                        <ul class="card-text">
                            <li> 2 huevos (2 productos de origen animal)</li>
                            <li> ½ taza de acelgas (1 verdura)</li>
                            <li> 3 cucharaditas de aceite (3 aceites y grasas)</li>
                            <li> 4 tortillas de maíz (4 cereales s/g)</li>
                            <li> 1 taza de leche descremada (1 producto lácteo)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_2200_minipizza.png" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Mini pizzas</h3>
                        <ul class="card-text">
                            <li> 4 rebanadas de pan de caja integral (4 cereales s/g)</li>
                            <li> 80g de queso panela (2 productos de origen animal)</li>
                            <li> ½ taza de champiñones (1 verdura)</li>
                            <li> 3 cucharaditas de aceite (3 aceites y grasas)</li>
                            <li> 1 taza de leche descremada (1 producto lácteo)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_2200_enchiladas_suizas.png" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Enchiladas suiza</h3>
                        <ul class="card-text">
                            <li> 4 tortillas de maíz (4 cereales s/g)</li>
                            <li> 40g de queso panela rallado, 30g de pollo sin piel (2 productos de origen animal)</li>
                            <li> 5 tomatitos verdes (1 verdura)</li>
                            <li> 3 cucharadas de crema (3 aceites y grasas)</li>
                            <li> 1 taza de leche descremada (1 producto lácteo)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>




<div class="container">
    <div class="card colacion">

        <div class="card-body">
            <h3 class="card-title title-principal">Colacion</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_1800_platano y cacahuate prenatal_2200_platano y cacahuate.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>1 pieza de plátano (2 frutas)</li>
                            <li>14 cacahuates (1 aceite y grasa)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_1600_arandanos con almendras prenatal_2200_arandanos con almendras.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>1 taza de arándanos secos sin azúcar (2 frutas)</li>
                            <li>2 cucharadas de almendras fileteadas (1 aceite c/p)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_2100_manzana y almendras prenatal_2200_manzana y almendras.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>2 manzanas (2 frutas)</li>
                            <li>10 almendras (1 aceite c/p)</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>
</div>


<div class="container">
    <div class="card comida">

        <div class="card-body">
            <h3 class="card-title title-principal">Comida</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_2200_enfrijoladas.png" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Enfrijoladas</h3>
                        <ul class="card-text">
                            <li> 4 tortillas de maíz (4 cereales s/g)</li>
                            <li> 60g de pechuga de pollo, 40g de queso panela (3 productos de origen animal)</li>
                            <li> 1 taza de nopales, 1 taza de jitomate (2 verduras)</li>
                            <li> 1 cucharadita de aceite, 2 cucharadas de crema (3 aceite y grasa)</li>
                            <li> ⅓ de taza de frijoles molidos (1 leguminosa)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_2200_bistec con arroz.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Bistec con arroz</h3>
                        <ul class="card-text">
                            <li> 2 tazas de arroz (4 cereales s/g)</li>
                            <li> 90g de bistec de res (3 productos de origen animal)</li>
                            <li> 1 taza de pimiento morrón con zanahoria (2 verduras)</li>
                            <li> 3 cucharaditas de aceite (3 aceite y grasa)</li>
                            <li> ⅓ de taza de frijoles molidos (1 leguminosa)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_2200_picadillo.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Picadillo</h3>
                        <ul class="card-text">
                            <li> 1 tazas de arroz, 2 tortillas de maíz (4 cereales s/g)</li>
                            <li> 90g de molida de res (3 productos de origen animal)</li>
                            <li> 1 taza de ejotes con zanahoria (2 verduras)</li>
                            <li> 3 cucharaditas de aceite (3 aceite y grasa)</li>
                            <li> ⅓ de taza de frijoles molidos (1 leguminosa)</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>
</div>


<div class="container">
    <div class="card colacion">

        <div class="card-body">
            <h3 class="card-title title-principal">Colacion</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_2200_platano_yogurt_almendras_avena.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li> 1 plátano (2 frutas)</li>
                            <li> 1 taza de yogurt natural descremado sin azúcar (1 producto lácteo)</li>
                            <li> 2 cucharadas de almendras fileteadas (2 aceites y grasas)</li>
                            <li> ½ taza de avena en hojuelas (1 cereal s/g)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_2200_papaya_avena_cacahuate_yogurt.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li> 2 tazas de papaya (2 frutas)</li>
                            <li> 1 taza de yogurt natural descremado sin azúcar (1 producto lácteo)</li>
                            <li> 28 cacahuates (2 aceites c/p)</li>
                            <li> ½ taza de avena en hojuelas (1 cereal s/g)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_2200_melon_avena_almendras_yogurt.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li> 2 tazas de melón (2 frutas)</li>
                            <li> 1 taza de yogurt natural descremado sin azúcar (1 producto lácteo)</li>
                            <li> 20 almendras(2 aceites y grasas)</li>
                            <li> ½ taza de avena en hojuelas (1 cereal s/g)</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>
</div>


<div class="container">
    <div class="card cena">

        <div class="card-body">
            <h3 class="card-title title-principal">Cena</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_2200_sandwich.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Sándwich</h3>
                        <ul class="card-text">
                            <li> 2 rebanadas de pan de caja integral (2 cereales s/g)</li>
                            <li> 40 g de queso panela, 2 rebanadas de jamón de pavo (2 producto de origen animal)</li>
                            <li> ½ taza de acelgas (1 verdura)</li>
                            <li> ⅔ de aguacate (2 aceites y grasas)</li>
                        </ul>
                    </div>
                </div>
            </div>
       <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/prenatal/prenatal_2200_hotdogs.png" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Hot dogs</h3>
                    <ul class="card-text">
                        <li> 2 rebanadas de pan de caja integral (2 cereales s/g)</li>
                        <li> 2 salchichas de pavo (2 producto de origen animal)</li>
                        <li> 1 taza de jitomate con cebolla (1 verdura)</li>
                        <li> 2 cucharaditas de mayonesa baja en grasa (2 aceites y grasas)</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/prenatal/prenatal_2200_molletes.png" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Molletes</h3>
                    <ul class="card-text">
                        <li> 2 rebanadas de pan de caja integral (2 cereales s/g)
                        <li> 2 huevos (2 producto de origen animal)
                        <li> ½ taza de espinacas(1 verdura)
                        <li> 2 cucharaditas de aceite (2 aceites y grasas)
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>