<div>
    <section class="jumbotron">
        <h1>DIABETES</h1>
    </section>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <section>
                <h2>Breve descripcion de la enfermedad</h2>
                <p>La diabetes mellitus es un desorden metabólico crónico en el que los niveles de glucosa en sangre son altos debido a una carencia o disminución en la efectividad de la insulina. La enfermedad es controlable más no es curable, y puede llevar a una variedad de complicaciones, algunas de ellas graves.</p>
            </section>
        </div>
        <div class="col-sm-6">
            <img src="../../../assets/imgs/diabetes.jpg">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img src="../../../assets/imgs/diabetes3.jpg">
        </div>
        <div class="col-sm-6">
            <section>
                <h2>Tratamiento</h2>
                <p>La reducción del peso corporal puede contribuir al control de la glucosa, en cuanto a la dieta un control en el consumo de carbohidratos o un bajo consumo de estos es el principal factor para el control 
                    El retirar de la dieta el consumo habitual de alimentos altos en azúcares ayudará a tener un mejor control en nuestras cifras de glucosa
                    Aumentar el consumo de fibra (cereales integrales, verduras y frutas con cáscara) reducirá la absorción de estos azúcares
                    La actividad física también ayuda al control de la glucosa ya que es utilizada para generar la energía para realizar dicha actividad
                    .</p>
            </section>
        </div>
    </div>
</div>

<div class="container">
    <section>
        <h3>Recomendaciones</h3>
        <ul>
            <li>Respetar los horarios de comida</li>
            <li>Hacer 3 comidas fuertes y 2 colaciones (preferentemente)</li>
            <li>Evitar ayunos prolongados (más de 6 horas)</li>
            <li>Preferir el consumo de agua natural y líquidos sin calorías en lugar de refrescos,  jugos y bebidas azucaradas</li>
            <li>Optar por el consumo de frutas y verduras frescas, si es posible, cruda y/o  con cáscara </li>
            <li>Apegarse a las raciones establecidas por el nutriólogo o nutriologa</li>
            <li>Moderar el consumo de alimentos procesados  y enlatados </li>
            <li>Realizar algún tipo de ejercicio, mínimo 30 minutos al día (caminar, correr, bailar, zumba, aerobics, ejercicios de fuerza, rutinas completas específicas a una parte del cuerpo, etc).</li>

        </ul>
    </section>
    <section>
        <h3>Causas</h3>
        <p>
            Se han asociado factores genéticos y a enfermedades como la obesidad, aunque la principal causa se ha relacionado al consumo excesivo azúcares o carbohidratos en la dieta
        </p>
    </section>
</div>

<div class="container">
    <div class="row">

        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Raciones y Alimentos no sugeridos</h3>
                    <p class="card-text">Aqui podras encontrar raciones que puedes comer y alimentos que no sugerimos su consumo para tu condicion.</p>
                    <a routerLink="/tablasDeEquivalentesDiabetes" class="btn btn-primary">Consulta aqui</a>
                </div>
            </div>
        </div>
        
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Relacion de la nutricion con la enfermedad</h3>
                    <p class="card-text">La diabetes mellitus es un desorden metabólico crónico en el que los niveles de glucosa en sangre son altos debido a una carencia o disminución en la efectividad de la insulina. La enfermedad es controlable más no es curable, y puede llevar a una variedad de complicaciones, algunas de ellas graves.</p>
                </div>
            </div>   
        </div>
        
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Menus</h3>
                    <p class="card-text">Aqui puedes encontrar ejemplos de comidas por cantidad de ingesta calorica diaria y con alimentos que puedes consumir y son seguros para ti..</p>
                    <a routerLink="/menusDiabetes" class="btn btn-primary">Consulta aqui</a>
                </div>
            </div>
        </div>

    </div>
</div>