<div class="container">
    <div class="card desayuno">
        <div class="card-body">
            <h3 class="card-title title-principal">Desayuno</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/obesidad/obesidad_1300_sandwich (2).jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Sándwich</h3>
                        <ul class="card-text">
                            <li> 2 rebanadas de pan integral (2 cereales s/g) </li>
                            <li> 2 rebanadas de jamón de pavo (1 producto de origen animal) </li>
                            <li> 1/3 de pieza de aguacate (1 aceite y grasa) </li>
                            <li> 3 rebanadas de lechuga o 4 rebanadas de jitomate o 4 rebanadas de pepino o ½ zanahoria rallada (1 verdura) </li>
                            <li> 1 taza de leche descremada (1 producto lácteo </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/obesidad/Obesidad_1300_crepas.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Crepas</h3>
                        <ul class="card-text">
                            <li> 2 crepas (2 cereales s/g) </li>
                            <li> 2 rebanadas de jamón de pavo (1 producto de origen animal) </li>
                            <li> ⅓ de pieza de aguacate (1 aceite y grasa) </li>
                            <li> ½ taza de champiñones </li>
                            <li> 1 taza de leche descremada (1 producto lácteo) </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/obesidad/obesidad_1300_omelette obesidad_1500_omelette prenatal_1600_omelette.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Omelette</h3>
                        <ul class="card-text">
                            <li> 1 pieza de huevo (1 producto de origen animal) </li>
                            <li> 1 cucharadita de aceite (1 aceite y grasa) </li>
                            <li> 1 taza de jitomate picado (1 verdura). </li>
                            <li> 2 tortillas de maíz (2 cereales s/g). </li>
                            <li> 1 taza de leche descremada (1 producto lácteo) </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>




<div class="container">
    <div class="card colacion">

        <div class="card-body">
            <h3 class="card-title title-principal">Colacion</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/obesidad/obesidad_1300_naranjas con cacahuate prenatal_1700_naranja y cacahuate.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li> 2 piezas de naranjas (1 fruta)</li>
                            <li> 14 piezas de cacahuates (1 aceite y grasa</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/obesidad/obesidad_1300_piña con almendras obesidad_1700_piña y almendras.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li> 1 taza de piña (1 fruta)</li>
                            <li> 2 cucharadas de almendras fileteadas (1 aceite y grasa c/p)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/obesidad/obesidad_1300_sandia con almendras obesidad_1600_sandia con almendras.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li> 1 taza de Sandía (1 fruta)</li>
                            <li> 10 piezas de almendras (1 aceite y grasa c/p)</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>
</div>


<div class="container">
    <div class="card comida">

        <div class="card-body">
            <h3 class="card-title title-principal">Comida</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/obesidad/obesidad_1300_espaguetti.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Espaguetti</h3>
                        <ul class="card-text">
                            <li> 60 g de carne molida (2 producto de origen animal) </li>
                            <li> 1 taza de jitomate molido agregando especias, ½ taza de champiñones(2 verdura) </li>
                            <li> 2 cucharaditas de aceite para cocinar (2 aceites y grasas) </li>
                            <li> ½ taza de frijoles enteros (1 leguminosa) </li>
                            <li> 1 ½ tazas de espagueti cocido (3 cereales s/g) </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/obesidad/obesidad_1300_enfrijoladas.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Enfrijoladas</h3>
                        <ul class="card-text">
                            <li> 3 tortillas de maíz (3 cereales s/g) </li>
                            <li> ⅓ de taza de frijoles molidos (1 leguminosa) </li>
                            <li> 40g de queso fresco y ½ taza de pollo desmenuzado (2 productos de origen animal) </li>
                            <li> 1 taza de jitomate, 1 taza de lechuga, ½ taza de zanahoria (2 verduras) </li>
                            <li> 4 cdas de crema baja en grasa (2 aceites y grasas s/p) </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/obesidad/obesidad_1300_picadillo obesidad_1600_picadillo prenatal_2200_picadillo.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Picadillo</h3>
                        <ul class="card-text">
                            -60g de carne molida (2 productos de origen animal)
                            -½ taza de zanahoria con ejotes, 1 taza de chayote (2 verduras)
                            -½ taza de arroz (1 cereal s/g)
                            - 2 tortillas de maíz (2 cereales s/g)
                            -⅓ de taza de frijoles molidos (1 leguminosa)
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>
</div>


<div class="container">
    <div class="card colacion">

        <div class="card-body">
            <h3 class="card-title title-principal">Colacion</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/obesidad/obesidad_1300_melon.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li> 1 taza de melón (1 fruta)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/obesidad/obesidad_1300_piña.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li> 1 taza de piña (1 fruta)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/obesidad/obesidad_1200_mandarinas obesidad_1300_mandarinas.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li> 2 piezas de mandarinas (1 fruta)</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>
</div>


<div class="container">
    <div class="card cena">

        <div class="card-body">
            <h3 class="card-title title-principal">Cena</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/obesidad/obesidad_1300_tostadas de nopal.png" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Tostadas de nopal</h3>
                        <ul class="card-text">
                            <li> 2 tostadas de maíz horneadas (1 cereal s/g) </li>
                            <li> 1 taza de nopales cocidos con jitomate (1 verdura) </li>
                            <li> ⅓ de aguacate (1 aceite y grasa) </li>
                            <li> 40 g de queso fresco ( 1 producto de origen animal) </li>
                        </ul>
                    </div>
                </div>
            </div>
       <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/obesidad/obesidad_1300_sandwich (2).jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Sándwich</h3>
                        <ul class="card-text">
                            <li> 2 rebanadas de pan integral (2 cereales s/g) </li>
                            <li> 2 rebanadas de jamón de pavo (1 producto de origen animal) </li>
                            <li> 1/3 de pieza de aguacate (1 aceite y grasa) </li>
                            <li> 4 rebanadas de lechuga o 4 rebanadas de jitomate o 4 rebanadas de pepino o ½ taza de zanahoria (1 verdura) </li>
                            <li> 1 taza de leche descremada (1 producto lácteo </li>
                        </ul>
                    </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/obesidad/obesidad_1300_pan tostado.jpg" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Pan tostado</h3>
                    <ul class="card-text">
                        <li> 2 rebanadas de pan tostado integral (2 cereales s/g) </li>
                        <li> ⅓ de aguacate (1 aceite y grasa s/p) </li>
                        <li> ½ taza de champiñones (1 verdura) </li>
                        <li> 1 rebanada mediana de queso panela (1 producto de origen animal) </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>