<div class="container">
    <div class="card desayuno">
        <div class="card-body">
            <h3 class="card-title title-principal">Desayuno</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_1800_entomatadas.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Entomatadas</h3>
                        <ul class="card-text">
                            <li> 3 tortillas de maíz (3 cereales s/g)</li>
                            <li> ¼ de taza de pollo deshebrado y 40g de queso fresco(2 producto de origen animal)</li>
                            <li> 1 taza de jitomate-licuado (1 verdura)</li>
                            <li> 2 cucharadas de crema (2 aceites y grasas)</li>
                            <li> 1 taza de leche light con canela sin azúcar (1 producto lácteo)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_1700_huevo_con_ejotes prenatal_1800_huevo_revuelto.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Huevo revuelto y ejotes</h3>
                        <ul class="card-text">
                            <li> 3 tortillas de maíz (3 cereales s/g)</li>
                            <li> 2 huevos (2 producto de origen animal)</li>
                            <li> ½ taza de ejotes (1 verdura)</li>
                            <li> 2 cucharaditas de aceite (2 aceites y grasas)</li>
                            <li> 1 taza de leche light con canela sin azúcar (1 producto lácteo)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_1800_huevo revuelto.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Huevo revuelto y champiñones</h3>
                        <ul class="card-text">
                            <li> 3 tortillas de maíz (3 cereales s/g)</li>
                            <li> 2 huevos (2 producto de origen animal)</li>
                            <li> ½ taza de champiñones (1 verdura)</li>
                            <li> 2 cucharaditas de aceite (2 aceites y grasas)</li>
                            <li> 1 taza de leche light (1 producto lácteo)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>




<div class="container">
    <div class="card colacion">

        <div class="card-body">
            <h3 class="card-title title-principal">Colacion</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_1800_guayabas_almendras.png" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li> guayabas (1 fruta)</li>
                            <li>10 piezas de almendras (1 aceite c/p)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_1800_platano y cacahuate prenatal_2200_platano y cacahuate.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>1 plátano (2 fruta)</li>
                            <li>14 piezas de cacahuates (1 aceite y grasa c/p)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_1800_platano y almendras.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>1 plátano (2 fruta)</li>
                            <li>2 cucharadas de almendras fileteadas (1 aceite y grasa c/p)</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>
</div>


<div class="container">
    <div class="card comida">

        <div class="card-body">
            <h3 class="card-title title-principal">Comida</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_1800_entomatadas.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Ensalada de tornillo</h3>
                        <ul class="card-text">
                            <li> 1 taza de champiñones, jitomate y acelgas (2 verduras)</li>
                            <li> 2 taza de pasta/espagueti (4 cereales s/g)</li>
                            <li> 90g de pechuga de pollo (3 producto de origen animal)</li>
                            <li> 1 taza de soya (1 leguminosa)</li>
                            <li> 2 cucharaditas de aceite de oliva (2 aceites y grasas s/p)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_1800_carne_asada.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Carne asada</h3>
                        <ul class="card-text">
                            <li> 90g de carne de res a la plancha (3 producto de origen animal)</li>
                            <li> 1 taza de pimiento morrón fileteado (2 verduras)</li>
                            <li> 4 tortillas de maíz (4 cereales s/g)</li>
                            <li> ½ taza de frijoles enteros (1 leguminosa)</li>
                            <li> 2 cucharaditas de aceite de oliva (2 aceites y grasas s/p)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_1800_taquitos.png" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Taquitos</h3>
                        <ul class="card-text">
                            <li> 90g de carne de res a la plancha picada (3 producto de origen animal)</li>
                            <li> ½ taza de frijoles enteros (1 leguminosa)</li>
                            <li> 2 cucharaditas de aceite (2 aceites y grasas s/p)</li>
                            <li> 4 tortillas de maíz (4 cereales s/g)</li>
                            <li> 2 tazas de pepino (2 verduras)</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>
</div>


<div class="container">
    <div class="card colacion">

        <div class="card-body">
            <h3 class="card-title title-principal">Colacion</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_1800_manzana y almendras.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>1 manzana (1 fruta)</li>
                            <li>10 almendras (1 aceite y grasa)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_1500_kiwi y almendras prenatal_1800_kiwi y almendras.png" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>1 ½ kiwi (1 fruta)</li>
                            <li>10 almendras (1 aceite c/p)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_1500_ciruelas_y_almendras prenatal_1800_ciruelas y almendras.png" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>2 ciruelas (1 fruta)</li>
                            <li>10 almendras (1 aceite c/p)</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>
</div>


<div class="container">
    <div class="card cena">

        <div class="card-body">
            <h3 class="card-title title-principal">Cena</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_1800_omelette.png" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Omelette</h3>
                        <ul class="card-text">
                            <li> 2 rebanadas de pan de caja integral (2 cereales s/g)</li>
                            <li> 1 huevo (1 producto de origen animal)</li>
                            <li> ½ taza de acelgas cocidas (1 verdura)</li>
                            <li> ⅓ de pieza de aguacate (1 aceite y grasa)</li>
                        </ul>
                    </div>
                </div>
            </div>
       <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/prenatal/prenatal_1800_quesadillas.jpg" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Quesadillas</h3>
                    <ul class="card-text">
                        <li> 2 tortillas de maíz (2 cereales s/g)</li>
                        <li> 40g de queso panela (1 producto de origen animal)</li>
                        <li> ½ taza de ejote y zanahorias (1 verdura)</li>
                        <li> 1 cucharadita de aceite (1 aceite y grasa s/p)</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/prenatal/prenatal_1800_croquetas de atun.jpg" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Croquetas de atún</h3>
                    <ul class="card-text">
                        <li> 1 papa cocida (2 cereales s/g)</li>
                        <li> ⅓ de lata de atún en agua  (1 producto de origen animal)</li>
                        <li> ½ taza de zanahorias y espinacas (1 verdura)</li>
                        <li> 1 cucharadita de aceite (1 aceite y grasa s/p)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>