<div>
    <section class="jumbotron">
        <h1>PRENATAL</h1>
    </section>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <section>
                <h2>Breve descripcion de la patología</h2>
                <p>
                    El embarazo es el estado fisiológico de una mujer que comienza con la concepción del feto y continúa con el desarrollo fetal hasta el momento del parto. Este período se divide en 40 semanas y dura 280 días, aproximadamente.
                </p>
            </section>
        </div>
        <div class="col-sm-6">
            <img src="assets/imgs/diabetes.jpg">
        </div>
    </div>
</div>

<div class="container">
    <section>
        <h3>Recomendaciones</h3>
        <ul>
            <li>Respetar los horarios de comida</li>
            <li>Hacer 3 comidas fuertes y 2 colaciones (preferentemente)</li>
            <li>Evitar ayunos prolongados (más de 6 horas)</li>
            <li>Preferir el consumo de agua natural y líquidos sin calorías en lugar de refrescos,  jugos y bebidas azucaradas</li>
            <li>Apegarse a las raciones establecidas por el nutriólogo o nutriologa</li>
            <li>Moderar el consumo de alimentos procesados  y enlatados</li>
            <li>Realizar algún tipo de ejercicio, mínimo 30 minutos al día (caminar, correr, bailar, zumba, aerobics, ejercicios de fuerza, rutinas completas específicas a una parte del cuerpo, etc).</li>
        </ul>
    </section>

    <section>
        <h3>Recomendaciones para la ganancia de peso según estado nutricional</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>IMC</th>
                    <th>Ganancia de peso total</th>
                </tr>
            </thead>
            <tr>
              <td>Bajo 18.5</td>
              <td>12.5-18 Kg</td>
            </tr>
            <tr>
              <td>Normal 18.5-24.9</td>
              <td>11.5 - 16 Kg</td>
            </tr>
            <tr>
                <td>Sobrepeso 25-29.9</td>
                <td> 7 - 11.5 Kg</td>
              </tr>
              <tr>
                <td>Obesidad >30</td>
                <td>6 Kg</td>
              </tr>
          </table>
          <!--h3>Complicaciones frecuentes por peso inadecuado</h3>
          <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
          </ul-->
    </section>

    <section>
        <h3>Recomendaciones en náuseas y vómitos</h3>
        <ul>
            <li>Evitar Bebidas gaseosas (agua mineral, refrescos)</li>
            <li>Evitar Bebidas irritantes (zumos ácidos, café)</li>
            <li>Evitar alimentos grasosos: fritos, capeados, empanizados</li>
            <li>Evitar condimentos fuertes (pimienta, comino, clavo, mostaza, etc.)</li>
            <li>Evitar Alimentos muy calientes</li>
            <li>Evitar Pescado, atún, huevo, ajo, debido al fuerte olor que producen</li>
            <li>Evitar alimentos caldosos</li>
            <li>No estar expuesta a olores fuertes</li>
            <li>Consumir líquidos a destiempo de los sólidos, al menos media hora antes o media hora después</li>
        </ul>
    </section>

    <section>
        <h3>Recomendaciones para reflujo</h3>
        <ul>
            <li>Evitar alimentos irritantes tales como:</li>
            <li>* Cítricos: naranja, toronja, mandarina, limón etc.</li>
            <li>* Alimentos altamente condimentados: clavo, pimienta, canela, cominos, orégano, etc.</li>
            <li>* Chocolate</li>
            <li>* Alimentos altos en grasas: tocino, productos ahumados, mantequilla, mayonesa, manteca, chorizo, alimentos fritos, capeados, empanizados.</li>
            <li>* Picantes</li>
            <li>* Vinagre</li>
            <li>* Café (puede ser descafeinado, evitar tomarlo muy caliente)</li>
            <li>* Refrescos o bebidas carbonatadas</li>
            <li>* Bebidas energizantes</li>
            <li>* Dulces o chicles de menta</li>
            <li>* Alcohol</li>
            <li>Algunos de estos alimentos pueden llegar a ser tolerados, va depender de su cantidad y 
                frecuencia, la recomendación es evitarlos estrictamente con excepción de los cítricos que 
                podrían llegar a ser consumidos esporádicamente
                </li>
            <li>Evitar comidas abundantes</li>
            <li>Evitar alimentos muy calientes (también cuentan las bebidas), preferir tibios o temperatura 
                ambiente
                </li>
            <li>No comer ni beber líquidos al menos 2 horas antes de acostarse</li>
            <li>Al momento de dormir puede optar por recostarse de su lado izquierdo o dormir con la 
                cabeza y torso un poco elevado (45° aproximadamente) en casos de mucha molestia)
            </li>
            
        </ul>
    </section>

    <section>
        <h3>Recomendaciones en náuseas y vómitos</h3>
        <ul>
            <li>Evitar Bebidas gaseosas (agua mineral, refrescos)</li>
            <li>Evitar Bebidas irritantes (zumos ácidos, café)</li>
            <li>Evitar alimentos grasosos: fritos, capeados, empanizados</li>
            <li>Evitar condimentos fuertes (pimienta, comino, clavo, mostaza, etc.)</li>
            <li>Evitar Alimentos muy calientes</li>
            <li>Evitar Pescado, atún, huevo, ajo, debido al fuerte olor que producen</li>
            <li>Evitar alimentos caldosos</li>
            <li>No estar expuesta a olores fuertes</li>
            <li>Consumir líquidos a destiempo de los sólidos, al menos media hora antes o media hora después</li>
        </ul>
    </section>

    <section>
        <h3>Recomendaciones para distensión</h3>
        <ul>
            <li>Evitar alimentos como:</li>
            <li>* Refrescos o bebidas carbonatadas</li>
            <li>* Leguminosas (frijoles, habas, garbanzos, lentejas
                brócoli, Coliflor, coles de bruselas, repollo)
                </li>
            <li>* Alcohol</li>
            <li>* Chicles o dulces</li>
            <li>* Alimentos altamente condimentados: clavo, pimienta, canela, cominos, orégano, etc.</li>
            <li>* Edulcorantes artificiales</li>
            <li>* Alimentos altos en grasas: tocino, productos ahumados, mantequilla, alimentos fritos, capeados, empanizados</li>
            <li>* Lácteos</li>
            <li>* Cereales integrales</li>
            <li>Se recomienda:</li>
            <li>* Hacer varias comidas más reducidas a lo largo del día, en lugar de pocas y demasiado abundantes</li>
            <li>* Consumo alimentos ricos en proteínas como son los huevos, el pescado, el pollo o res</li>
            <li>* El ejercicio ayudará a reducir la distensión abdominal, realizar la recomendación de actividad física</li>
            <li>* Tratar de no estar de pie o sentada durante mucho tiempo, ni acostarse después de comer</li>
        </ul>
    </section>

    <section>
        <h3>Recomendaciones para extreñimiento</h3>
        <ul>
            <li>Alimentos a evitar:</li>
            <li>* verduras flatulentas como alcachofas, col, coliflor, brócoli, coles de Bruselas, pimiento, pepino, rábanos y rabanetas, cebolla y ajos según tolerancia; la zanahoria (por su carácter astringente, sólo temporalmente)</li>
            <li>* Bebidas alcohólicas</li>
            <li>* Chocolate (astringente), pastelería y repostería rellenas, con chocolate o bañadas en soluciones azucaradas, golosinas y dulces, etc.</li>
            <li>* Fruta en almíbar y frutas confitadas, frutas astringentes como membrillo, pomelo, plátano, manzana rallada, limón</li>
            <li>* Leche condensada, crema de chocolate, lácteos con nata o enriquecidos con nata</li>
            <li>* Grasas: Nata, manteca, tocino, chorizo</li>
            <li>Se recomienda:</li>
            <li>* Consumir alimentos ricos en fibra como frutas, verduras, frutos secos, pan integral y otros cereales completos</li>
            <li>* Beber más líquidos, más de 2 litros diarios</li>
            <li>* Limitar los alimentos que no contienen fibra o que endurecen las heces, como el azúcar, los caramelos, los quesos curados o el arroz</li>
        </ul>
    </section>



    <section>
        <h3>Recomendaciones en diabetes gestacional</h3>
        <ul>
            <li>Realizar algún tipo de ejercicio, mínimo 30 minutos al día (caminar, correr, bailar, zumba, aerobics, ejercicios de fuerza, rutinas completas específicas a una parte del cuerpo, etc)</li>
            <li>Monitorear frecuentemente los niveles de glucosa</li>
            <li>Evitar realizar ayunos prolongados (mayores a 6 horas sin comer)</li>
            <li>Preferir alimentos altos en fibra: Cereales integrales, fruta y verdura frescas, de preferencia con cáscara y crudas</li>
            <li>Consumir frutas acompañadas de grasas saludables (almendras, nueces, cacahuates, etc.), verdura o una ración de cereal sin grasa</li>
            <li>Preferir agua natural o bebidas libres como té sin cafeína, agua de limón, pepino o tamarindo naturales y sin azúcar, evitar refresco o cualquier bebida azucarada</li>
        </ul>
    </section>

    <section>
        <h3>Recomendaciones en preclampsia</h3>
        <ul>
            <li>Incluir calcio elemental de 1.5-2g como prevención</li>
            <li>Mantener un peso/ganancia de peso adecuado</li>
            <li>Incluir alimentos como: Cereza, plátano, espinacas , leche, pescado, cereales integrales, brócoli</li>
            <li>Mantener una buena hidratación</li>
            <li>Elegir alimentos frescos</li>
            <li>Utilizar especias naturales como romero, laurel, albahaca</li>
        </ul>
    </section>
</div>

<div class="container">
    <div class="row">
        
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Alimentos a evitar para prevenir complicaciones</h3>
                    <p class="card-text">
                        * Café no más de 1 taza al día<br>
                        * Mariscos Y pescados crudos<br>
                        * Irritantes como el picante, alimentos fritos, bebidas gaseosas, alcohol<br>
                        * Refresco, jugos y bebidas azucaradas<br>
                        * Harinas refinadas, productos procesados<br>

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">

        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Raciones y Alimentos no sugeridos</h3>
                    <p class="card-text">Aqui podras encontrar raciones que puedes comer y alimentos que no sugerimos su consumo para tu condicion.</p>
                    <a routerLink="/tablasDeEquivalentesPrenatal" class="btn btn-primary">Consulta aqui</a>
                </div>
            </div>
        </div>
        
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Relacion de la nutricion con la patología</h3>
                    <p class="card-text">
                        Debido a los cambios corporales en esta etapa el cuerpo requiere más energía para preparar al cuerpo para el parto y obtener los nutrientes necesarios para el crecimiento del bebe
                        Dependiendo de la ganancia de peso de la madre se verá reflejado en la ganancia de peso que obtenga el bebé al final del parto
                        Una ganancia de peso adecuada al final de los 9 meses consumiendo una dieta variada y completa asegura el mayor aporte nutrimental al feto
                    </p>
                </div>
            </div>   
        </div>
        
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Menus</h3>
                    <p class="card-text">Aqui puedes encontrar ejemplos de comidas por cantidad de ingesta calorica diaria y con alimentos que puedes consumir y son seguros para ti..</p>
                    <a routerLink="/menusPrenatal" class="btn btn-primary">Consulta aqui</a>
                </div>
            </div>
        </div>
    </div>
</div>