<div class="container">
    <div class="card desayuno">
        <div class="card-body">
            <h3 class="card-title title-principal">Desayuno</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/dislipidemia/dislipidemia_1300 quesadillas.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Quesadillas</h3>
                        <ul class="card-text">
                            <li> 1 taza de calabacitas cocidas (1 verdura)</li>
                            <li> 1 rebanada de queso panela (1 producto de origen animal)</li>
                            <li> 2 tortillas (2 cereales s/g)</li>
                            <li> 1 taza de leche light (1 producto lácteo)</li>
                            <li> 1 cucharadita cafetera de aceite (1 aceite y grasa)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/dislipidemia/dislipidemia_1300 omellette de acelgas.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Omelette de acelgas</h3>
                        <ul class="card-text">
                            <li> 2 tazas de acelgas (1 verdura)</li>
                            <li> 2 tortillas (2 cereales s/g)</li>
                            <li> 1 huevo (1 producto de origen animal)</li>
                            <li> 1 taza de leche descremada (1 producto lácteo)</li>
                            <li> 1 cucharadita de aceite (1 aceite y grasa)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/dislipidemia/dislipidemia_1300 huevo con papas .jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Huevo con papas</h3>
                        <ul class="card-text">
                            <li> ¼ taza cebolla cocida (1 verdura)</li>
                            <li> 1 papa (2 cereales s/g)</li>
                            <li> 1 huevo (1 productos de origen animal) </li>
                            <li> 1 taza de leche descremada (1 producto lácteo)</li>
                            <li> 1 cucharadita de aceite (1 aceites y grasas)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>




<div class="container">
    <div class="card colacion">

        <div class="card-body">
            <h3 class="card-title title-principal">Colacion</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/dislipidemia/colación naranja con cacahuates .jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>2 piezas de naranjas (1 fruta)</li>
                            <li>14 piezas de cacahuates (1 aceite y grasa)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/imgs/apples.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>1 manzana (1 fruta)</li>
                            <li>10 almendras (1 aceite y grasa)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/dislipidemia/colación uva con nuez .jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>1 taza de uvas (1 fruta)</li>
                            <li>6 mitades de nuez (1 aceite y grasa)</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>
</div>


<div class="container">
    <div class="card comida">

        <div class="card-body">
            <h3 class="card-title title-principal">Comida</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/dislipidemia/dislipidemia_1300 pasta con pollo.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Pasta con pollo</h3>
                        <ul class="card-text">
                            <li> ½ taza de champiñones, jitomate y acelgas (1 verdura)</li>
                            <li> 1 taza de pasta/espagueti (2 cereales s/g)</li>
                            <li> 1 pieza de pollo (2 producto de origen animal)</li>
                            <li> 1 taza de soya (1 leguminosa)</li>
                            <li> 2 cucharaditas de aceite para cocinar (2 aceites y grasas)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/dislipidemia/dislipidemia_1300 espagueti.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Espagueti</h3>
                        <ul class="card-text">
                            <li> 70 g de carne molida (2 producto de origen animal)</li>
                            <li> 1 taza de jitomate molido agregando especias, ½ taza de champiñones(2 verdura)</li>
                            <li> 2 cucharaditas de aceite para cocinar (2 aceites y grasas)</li>
                            <li> ½ taza de frijoles enteros (1 leguminosa)</li>
                            <li> 1 taza de espagueti cocido (2 cereales s/g)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/dislipidemia/dislipidemia_1300 pocadillo.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Picadillo</h3>
                        <ul class="card-text">
                            <li> 70g de carne molida (2 productos de origen animal)</li>
                            <li> ½ taza de zanahoria con ejotes, 1 taza de chayote (2 verduras)</li>
                            <li> ½ taza de arroz (1 cereal s/g)</li>
                            <li> 1 tortillas de maíz (1 cereale s/g)</li>
                            <li> ⅓ de taza de frijoles molidos (1 leguminosa)</li>
                            <li> 2 cucharaditas de aceite (2 aceites y grasas)</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>
</div>


<div class="container">
    <div class="card colacion">

        <div class="card-body">
            <h3 class="card-title title-principal">Colacion</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/dislipidemia/colación mandarina con nueces .jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>2 mandarinas (1 fruta)</li>
                            <li>1 verdura a libre elección</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/dislipidemia/colación guayaba con almendras .jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>3 guayabas (1 fruta)</li>
                            <li>1 verdura a libre elección</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/dislipidemia/colacione melón con nuez .jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>1 taza de melón (1 fruta)</li>
                            <li>1 verdura a libre elección</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>
</div>


<div class="container">
    <div class="card cena">

        <div class="card-body">
            <h3 class="card-title title-principal">Cena</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/diabetes/diabetes_1300 chilaquiles.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Chilaquiles</h3>
                        <ul class="card-text">
                            <li> ½ taza de pico de gallo (1 verdura)</li>
                            <li> 2 tostadas de maíz horneadas (1 cereal s/g)</li>
                            <li> 1/2 pieza de pollo (1 producto de origen animal)</li>
                            <li> 1 cucharadita de aceite (1 aceite y grasa)</li>
                        </ul>
                    </div>
                </div>
            </div>
       <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/dislipidemia/dislipidemia_1300 calabacitas rellenas.jpg" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Calabacitas rellenas</h3>
                    <ul class="card-text">
                        <li> 2 calabacitas cocidas (1 verdura)</li>
                        <li> 40g de queso fresco (1 alimento de origen animal)</li>
                        <li> 2 tostadas horneadas (1 cereal s/g)</li>
                        <li> 1 cucharadita cafetera de aceite (1 aceite y grasa)</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/dislipidemia/dislipidemia_1300 tostadas de pollo.jpg" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Tostada</h3>
                    <ul class="card-text">
                        <li> 2 tostadas horneadas (1 cereal s/g)</li>
                        <li> 1 taza lechuga y pimiento (1 verdura)</li>
                        <li> ½ pieza de bistec de pollo (1 producto de origen animal)</li>
                        <li> 1 cdita aceite de oliva (1 aceite y grasa)</li>\
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>