<div class="container">
    <div class="card desayuno">
        <div class="card-body">
            <h3 class="card-title title-principal">Desayuno</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/diabetes/diabetes_1200_sandwichi.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Sandwich</h3>
                        <ul class="card-text">
                            <li> 2 rebanadas de pan Bimbo cero cero (2 cereales s/g)</li>
                            <li> 2 rebanadas de jamón de pavo (1 producto de origen animal)</li>
                            <li> 1 taza de lechuga, medio jitomate, cebolla al gusto ( 1 verdura)</li>
                            <li> ⅓ de aguacate ( 1 aceite y grasa)</li>
                            <li>1 taza de leche (1 producto  lácteo)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/diabetes/diabetes_1200_huevi con ejotes.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Huevo con ejotes</h3>
                        <ul class="card-text">
                            <li> ½ taza de ejotes (1 verdura)</li>
                            <li> 1 pieza de huevo (1 producto de origen animal)</li>
                            <li> 2 tortillas de maíz (2 cereales s/g</li>
                            <li> 1 taza de leche descremada (1 producto lácteo)</li>
                            <li>1 cucharadita de aceite (1 aceite)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/diabetes/diabetes_1200 huevo a la mexicana.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Huevo a la mexicana</h3>
                        <ul class="card-text">
                            <li>1 pieza de huevo (1 producto de origen animal)</li>
                            <li>1 taza de pico de gallo, jitomate, cebolla y chile (1 verdura)</li>
                            <li>1 cucharadita de aceite (1 aceite y grasa)</li>
                            <li>2 tortillas de maíz (2 cereales s/g)</li>
                            <li>1 taza de leche descremada (1 producto lácteo)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>




<div class="container">
    <div class="card colacion">

        <div class="card-body">
            <h3 class="card-title title-principal">Colacion</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/diabetes/diabetes_1200 manzana con cacahuates .jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>1 manzana (1 fruta)</li>
                            <li>10 almendras (1 aceite y grasa)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/diabetes/diabetes_1200 plátano con almendras.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>½ pieza de plátano (1 fruta)</li>
                            <li>10 almendras (1 aceite y grasa)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/diabetes/diabetes _1200 guayabas con almendras .jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>3 piezas de guayaba (1 fruta)</li>
                            <li>10 piezas de almendras (1 aceite y grasa</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>
</div>


<div class="container">
    <div class="card comida">

        <div class="card-body">
            <h3 class="card-title title-principal">Comida</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/diabetes/diabetes_1200_pollo a la mex con arros.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Pollo a la mexicana con arroz</h3>
                        <ul class="card-text">
                            <li>1 taza de pico de gallo ( 1 verdura)</li>
                            <li>1 pieza de pechuga de pollo (2 productos de origen animal)</li>
                            <li>½ taza de frijoles enteros (1 leguminosa)</li>
                            <li>1 taza de arroz (2 cereales s/g)</li>
                            <li>1 cucharadita cafetera de aceite para freír el pollo (1 aceite y grasa)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/diabetes//diabetes_1200_fajitas de pollo.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fajitas de pollo con papas</h3>
                        <ul class="card-text">
                            <li>1 taza de pimiento (1 verdura)</li>
                            <li>1 pieza de bistec de pollo (2 producto de origen animal)</li>
                            <li>½ taza de frijoles enteros (1 leguminosa)</li>
                            <li>½ pieza de papa (1 cereal s/g)</li>
                            <li>1 tortilla de maíz (1 cereal s/g)</li>
                            <li>1 cucharadita de aceite (1 aceite y grasa)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/diabetes/diabetes_1200_arroz frito con pollo.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Arroz frito con pollo</h3>
                        <ul class="card-text">
                            <li>½  taza de arroz integral (1 cereal s/g)</li>
                            <li>1 taza de brócoli, zanahoria, pimiento (1 verdura)</li>
                            <li>1 pieza de bistec de pollo (2 productos de origen animal)</li>
                            <li>½  pieza de papa (1 cereales)}</li>
                            <li>⅓ taza de soya (1 leguminosa)</li>
                            <li>1 cucharadita de aceite (1 aceite y grasa)</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>
</div>


<div class="container">
    <div class="card colacion">

        <div class="card-body">
            <h3 class="card-title title-principal">Colacion</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/diabetes/diabetes_1200 y 1300 segunda colación .jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>2 mandarinas (1 fruta)</li>
                            <li>1 verdura a libre elección</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/diabetes/diabetes_1200 y 1300 segunda colaciónn.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>3 guayabas (1 fruta)</li>
                            <li>1 verdura a libre elección</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/diabetes/diabetes_1200 y 1300 segunda colaciónnnn.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>1 taza de melón (1 fruta)</li>
                            <li>1 verdura a libre elección</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>
</div>


<div class="container">
    <div class="card cena">

        <div class="card-body">
            <h3 class="card-title title-principal">Cena</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/diabetes/diabetes_1200 quesadilla.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Quesadilla</h3>
                        <ul class="card-text">
                            <li>1 tortilla de maíz (1 cereal s/g)</li>
                            <li>1 rebanada de queso panela (1 producto de origen animal)</li>
                            <li>½ taza de champiñones (1 verdura)</li>
                            <li>1 cucharadita de aceite (1 aceite y grasa)</li>
                        </ul>
                    </div>
                </div>
            </div>
       <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/diabetes/diabetes_1200 pan tostado con queso y agacuate.jpg" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Pan tostado con queso y aguacate</h3>
                    <ul class="card-text">
                        <li>1 rebanadas de pan tostado integral (1 cereal s/g)</li>
                        <li>3 cucharadas de queso cottage (1 producto de origen animal)</li>
                        <li>1/3 de pieza de aguacate (1 aceite y grasa)</li>
                        <li>½ taza de champiñones (1 verdura)</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/diabetes/diabetes_1200 calabacitas rellenas.jpg" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Calabacitas rellenas</h3>
                    <ul class="card-text">
                        <li>2 calabacitas cocidas (1 verdura)</li>
                        <li>40g de queso fresco (1 alimento de origen animal)</li>
                        <li>2 tostadas horneadas (1 cereal s/g)</li>
                        <li>1 cucharadita cafetera de aceite (1 aceite y grasa)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>