<div class="container">
    <div class="card desayuno">
        <div class="card-body">
            <h3 class="card-title title-principal">Desayuno</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/dislipidemia/dislipidemia_1600 huevo con papas .jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Huevo con papas</h3>
                        <ul class="card-text">
                            <li> ¼ taza cebolla cocida (1 verdura)</li>
                            <li> 1 papa (2 cereales s/g)</li>
                            <li> 1 huevo (1 producto de origen animal)</li>
                            <li> 1 taza de leche descremada (1 producto lácteo)</li>
                            <li> 2 cucharaditas de aceite (2 aceites y grasas)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/dislipidemia/dislipidemia_1600 huevo con nopales.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Huevo con nopales</h3>
                        <ul class="card-text">
                            <li> ½  taza de nopales (1 verdura)</li>
                            <li> 2 tortillas de maíz (2 cereales s/g)</li>
                            <li> 1 pieza de  huevo (1 productos de origen animal)</li>
                            <li> 1 taza de leche descremada (1 producto lácteo)</li>
                            <li> 2 cucharaditas de aceite (2 aceites y grasas)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/dislipidemia/dislipidemia_1600 crema de champiñones.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Crema de champiñones</h3>
                        <ul class="card-text">
                            <li> 1 taza de leche descremada (1 producto lácteo)</li>
                            <li> 1 rebanada de queso panela rallado (1 producto de origen animal)</li>
                            <li> ½ taza de champiñones (1 verdura)</li>
                            <li> 2 cucharadas de fécula de maíz (1 cereal s/g)</li>
                            <li> 2 cucharaditas de aceite (2 aceites y grasas)</li>
                            <li> 1 rebanada de pan tostado integral cortadi en cubos (1 cereal s/g)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>




<div class="container">
    <div class="card colacion">

        <div class="card-body">
            <h3 class="card-title title-principal">Colacion</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/dislipidemia/dislipidemia_1600 uvas con nueces .jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>1 taza de uvas (1 fruta)</li>
                            <li>6 mitades de nuez (1 aceite y grasa)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/dislipidemia/dislipidemia_1600 melón con nuez .jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>1 taza de melón (1 fruta)</li>
                            <li>7 mitades de nuez (1 aceite y grasa)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/dislipidemia/dislipidemia_1600 manzana con nueces .jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>1 pieza de manzana (1 fruta)</li>
                            <li>6 mitades de nuez (1 aceite y grasa)</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>
</div>


<div class="container">
    <div class="card comida">

        <div class="card-body">
            <h3 class="card-title title-principal">Comida</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/dislipidemia/dislipidemia_1600 club sandwich.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Club sandwich</h3>
                        <ul class="card-text">
                            <li> 1 taza de lechuga, ¼ cebolla, ½ jitomate (1 verdura)</li>
                            <li> 3 rebanadas de pan de caja (3 cereales s/g)</li>
                            <li> 1 pieza de pollo  desmenuzada (2 productos de origen animal)</li>
                            <li> 2 rebanadas de jamón de pavo (1 producto de origen animal)</li>
                            <li> ⅔  aguacate  (2 aceites y grasas)</li>
                            <li> ½ taza de lentejas (1 leguminosa)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/dislipidemia/dislipidemia_1600 tostadas de pollo.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Tostadas de poll</h3>
                        <ul class="card-text">
                            <li> 1 y ½ taza de lechuga, 1 taza de jitomate, cebolla al gusto (1 verdura)</li>
                            <li> 1 y ½ pieza de pechuga cocida (3 productos de origen animal)</li>
                            <li> ⅓ de taza de frijoles molidos (1 leguminosa)</li>
                            <li> ⅔ de aguacate (2 aceite y grasa)</li>
                            <li> 3 tostadas (3 cereales s/g)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/dislipidemia/dislipidemia_1600 entomatadas.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Entomatadas</h3>
                        <ul class="card-text">
                            <li> 3 tortillas de maíz (3 cereales s/g)</li>
                            <li> 3 rebanadas de queso panela (3 productos de origen animal)</li>
                            <li> ⅔ de aguacate (2 aceites y grasas)</li>
                            <li> 1 taza de lechuga, 1 pepino (1 verdura)</li>
                            <li> ⅓ de taza de frijoles molidos (1 leguminosa)</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>
</div>


<div class="container">
    <div class="card colacion">

        <div class="card-body">
            <h3 class="card-title title-principal">Colacion</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/dislipidemia/dislipidemia_1600 mandarinas con cacahuates .jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>2 mandarinas (1 fruta)</li>
                            <li>14 piezas de cacahuates (1 aceite y grasa)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/dislipidemia/dislipidemia_1600 plátano con almendras.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>½ pieza de plátano (1 fruta)</li>
                            <li>10 almendras (1 aceite y grasa)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/dislipidemia/dislipidemia_1600 guayabas con almendras.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>3 piezas de guayaba (1 fruta)</li>
                            <li>10 piezas de almendras (1 aceite y grasa)</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>
</div>


<div class="container">
    <div class="card cena">

        <div class="card-body">
            <h3 class="card-title title-principal">Cena</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/diabetes/diabetes_1600 croquetas de atun.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Croquetas de atún</h3>
                        <ul class="card-text">
                            <li> 1 y ½ pieza de papa cocida molida (3 cereales s/g)</li>
                            <li> ½ de lata de atún en agua (1 producto de origen animal)</li>
                            <li> ½ taza de zanahoria rallada (1 verdura)</li>
                            <li> 1 cucharadita de aceite (1 aceite y grasa)</li>
                        </ul>
                    </div>
                </div>
            </div>
       <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/dislipidemia/dislipidemia_1600 picadillo.jpg" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Picadillo con arroz</h3>
                    <ul class="card-text">
                        <li> 35g de carne molida (1 producto de origen animal)</li>
                        <li> 1 tortilla y 1  taza de arroz (3 cereales s/g)</li>
                        <li> ½ taza ejotes con zanahoria (1 verdura)</li>
                        <li> 1 cucharada cafetera de aceite (1 aceite y grasa)</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/dislipidemia/dislipidemia_1600 tostadas de pollo.jpg" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Tostadas de pollo</h3>
                    <ul class="card-text">
                        <li> 1 taza de lechuga, 1 jitomate, cebolla (1 verdura)</li>
                        <li> 2 tortillas de maíz (2 cereales s/g)</li>
                        <li> ½ taza de elote desgranado (1 cereal s/g)</li>
                        <li> ½ pieza de filete de pollo (1 producto de origen animal)</li>
                        <li> ⅓ de aguacate (1 aceite y grasa)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>