<div>
    <section class="jumbotron">
        <h1>DISLIPIDEMIA</h1>
    </section>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <section>
                <h2>Breve descripcion de la enfermedad</h2>
                <p>
                    La dislipidemia (o dislipemia) es una concentración elevada de lípidos (colesterol, triglicéridos o ambos) o una concentración baja de colesterol rico en lipoproteínas (HDL).
                </p>
            </section>
        </div>
        <div class="col-sm-6">
            <img src="assets/imgs/diabetes.jpg">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img src="assets/imgs/diabetes3.jpg">
        </div>
        <div class="col-sm-6">
            <section>
                <h2>Tratamiento</h2>
                <p>
                    El tratamiento se basa en reducir el consumo de azúcares simples y grasas saturadas, optando más por grasas saludables como el aguacate, aceite vegetal, cacahuates, almendras y nueces, si la persona padece obesidad, una reducción del peso corporal también contribuye en la reducción de las cifras de colesterol y triglicéridos, así como el consumo de alimentos altos en fibra 
                </p>
            </section>
        </div>
    </div>
</div>

<div class="container">
    <section>
        <h3>Recomendaciones</h3>
        <ul>
            <li>Preferir el consumo de agua natural y líquidos sin calorías en lugar de refrescos,  jugos y bebidas azucaradas</li>
            <li>Preferir el consumo de carnes magras (sin grasa), como pollo sin piel  y pescado, huevo, claras de huevo y quesos bajos en grasa como cottage, panela, requesón, fresco y blanco.</li>
            <li>Preferir grasas saludables como aguacate, almendras, nueces, y  aceites vegetales como de canola, soya, oliva</li>
            <li>Apegarse a las raciones establecidas por el nutriólogo o nutriologa</li>
            <li>Moderar el consumo de alimentos procesados  y enlatados</li>
            <li>Evitar el  consumo de alcohol y tabaco</li>
            <li>Realizar algún tipo de ejercicio, mínimo 30 minutos al día (caminar, correr, bailar, zumba, aerobics, ejercicios de fuerza, rutinas completas específicas a una parte del cuerpo, etc).</li>
            <li>Preferir:
                Alimentos cocidos, al vapor, a la parrilla, empapelados
                Alimentos integrales
                Alimentos lácteos descremados (bajos en grasa = light
                </li>
        </ul>
    </section>
    <section>
        <h3>Causas</h3>
        <p>
            Si nuestros padres o abuelos tienen estas enfermedades, aumenta nuestras posibilidades de padecerlas, en cuanto a alimentación se asocia un consumo excesivo de azúcares y grasas saturadas, además de malos hábitos como sedentarismo e inactividad física
        </p>
    </section>
</div>

<div class="container">
    <div class="row">

        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Raciones y Alimentos no sugeridos</h3>
                    <p class="card-text">Aqui podras encontrar raciones que puedes comer y alimentos que no sugerimos su consumo para tu condicion.</p>
                    <a routerLink="/tablasDeEquivalentesDislipidemia" class="btn btn-primary">Consulta aqui</a>
                </div>
            </div>
        </div>
        
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Relacion de la nutricion con la enfermedad</h3>
                    <p class="card-text">La dislipidemia es una alteración de las concentraciones de grasas en sangre, caracterizada por un aumento de los niveles de colesterol (hipercolesterolemia) o de los niveles de triglicéridos (hipertrigliceridemia) o una disminución de los niveles de colesterol HDL (considerando colesterol saludable). 

                        La dislipidemia no suele causar síntomas por sí misma, pero puede ocasionar enfermedades cerebro-cardiovasculares sintomáticas (enfermedad coronaria, accidente cerebrovascular o enfermedad arterial periférica)
                        </p>
                </div>
            </div>   
        </div>
        
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Menus</h3>
                    <p class="card-text">Aqui puedes encontrar ejemplos de comidas por cantidad de ingesta calorica diaria y con alimentos que puedes consumir y son seguros para ti..</p>
                    <a routerLink="/menusDislipidemia" class="btn btn-primary">Consulta aqui</a>
                </div>
            </div>
        </div>

    </div>
</div>