<div class="container">
    <div class="card desayuno">
        <div class="card-body">
            <h3 class="card-title title-principal">Desayuno</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/hipertension/hipertension_1700_huevo con calabazas.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Huevo con calabazas</h3>
                        <ul class="card-text">
                            <li> 1 pieza de huevo (1 producto de origen animal)</li>
                            <li> 1 taza de calabazas (1 verdura)</li>
                            <li> 2 cucharaditas de aceite (2 aceites y grasas)</li>
                            <li> 3 tortillas de maíz (3 cereales s/g)</li>
                            <li> 1 taza de leche descremada con café sin azúcar (1 producto lácteo)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/hipertension/hipertension_1700_omelet.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Omelet</h3>
                        <ul class="card-text">
                            <li> 1 pieza de huevo (1 producto de origen animal)</li>
                            <li> 1 taza de espinacas (1 verdura)</li>
                            <li> 2 cucharaditas de aceite (2 aceites y grasas)</li>
                            <li> 3 tortillas de maíz (3 cereales s/g)</li>
                            <li> 1 taza de leche descremada con café sin azúcar (1 producto lácteo)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/hipertension/hipertension_1700_huevo con champiñones.png" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Huevo con champiñones / Huevo con calabazas</h3>
                        <ul class="card-text">
                            <li> 1 pieza de huevo (1 producto de origen animal)</li>
                            <li> 1 taza de calabazas (1 verdura)</li>
                            <li> 2 cucharaditas de aceite (2 aceites y grasas)</li>
                            <li> 3 tortillas de maíz (3 cereales s/g)</li>
                            <li> 1 taza de leche descremada con café sin azúcar (1 producto lácteo)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>




<div class="container">
    <div class="card colacion">

        <div class="card-body">
            <h3 class="card-title title-principal">Colacion</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/hipertension/hipertension_1700_guayabas con almendras.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>3 guayabas(1 fruta)</li>
                            <li>10 almendras (1 aceite y grasa)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/hipertension/hipertension_1700_sandia con cacahuates.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>1 taza de sandía (1 fruta)</li>
                            <li>14 pza de cacahuates (1 aceite y grasa)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/hipertension/hipertension_1700_platano dominico con almendras.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>3 plátanos dominicos (1 fruta)</li>
                            <li>10 piezas de almendras (1 aceite y grasa</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>
</div>


<div class="container">
    <div class="card comida">

        <div class="card-body">
            <h3 class="card-title title-principal">Comida</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/hipertension/hipertension_1700_tortitas de carne deshebrada.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Tortitas de carne deshebrada</h3>
                        <ul class="card-text">
                            <li> 70 g de carne deshebrada (2 producto de origen animal)</li>
                            <li> 1 huevo (1 producto de origen animal)</li>
                            <li> 2 tazas de zanahoria con pepino (2 verduras)</li>
                            <li> 2 tortillas de maíz (2 cereales s/g)</li>
                            <li> 1 taza de arroz (2 cereales s/g)</li>
                            <li> ½ taza de frijoles (1 leguminosa)</li>
                            <li> 2 cucharaditas de aceite (2 aceites y grasas)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/dislipidemia/dislipidemia_1700 chilaquiles.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Chilaquiles</h3>
                        <ul class="card-text">
                            <li> 1 pieza de bistec de pollo (2 producto de origen animal)</li>
                            <li> 40 g de queso /1 rebanada mediana (1 producto de origen animal)</li>
                            <li> ½ tza cebolla cocida  (2 verduras)</li>
                            <li> 4 tortillas de maíz (4 cereales s/g)</li>
                            <li> ½ taza de frijoles (1 leguminosa)</li>
                            <li> 2 cucharaditas de aceite (2 aceites y grasas)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/hipertension/hipertension_1700_enfrijoladas.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Enfrijoladas</h3>
                        <ul class="card-text">
                            <li> 1 pieza de bistec de pollo (2 producto de origen animal)</li>
                            <li> 40 g de queso / 1 rebanada mediana (1 producto de origen animal)</li>
                            <li> 2 tazas de lechuga y jitomate  (2 verduras)</li>
                            <li> 4 tortillas de maíz (4 cereales s/g)</li>
                            <li> ½ taza de frijoles (1 leguminosa)</li>
                            <li> 2 cucharaditas de aceite (2 aceites y grasas)</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>
</div>


<div class="container">
    <div class="card colacion">

        <div class="card-body">
            <h3 class="card-title title-principal">Colacion</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/hipertension/hipertension_1700_mandarina con cacahuates.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>2 mandarinas (1 fruta)</li>
                            <li>14 piezas de cacahuates (1 aceite y grasa)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/hipertension/hipertension_1700_manzana con almendras.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>1 manzana</li>
                            <li>10 pzas de almendras(1 aceite y grasa)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/hipertension/hipertension_1700_uvas y nueces.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>1 taza de uvas (1 fruta)</li>
                            <li>6 mitades de nuez (1 aceite y grasa)</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>
</div>


<div class="container">
    <div class="card cena">

        <div class="card-body">
            <h3 class="card-title title-principal">Cena</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/hipertension/hipertension_1700_quesadillas.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Quesadilla</h3>
                        <ul class="card-text">
                            <li>2 tortilla de maíz (2 cereal s/g)</li>
                            <li>1 taza de jitomate y cebolla  (1 verdura)</li>
                            <li>1 cucharadita de aceite (1 aceite y grasa)</li>
                            <li> ½ pieza de pollo (1 producto de origen animal)</li>
                        </ul>
                    </div>
                </div>
            </div>
       <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/hipertension/hipertension_1700_gorditas.jpg" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Gorditas</h3>
                    <ul class="card-text">
                        <li> 2 gorditas de maíz (2 cereales s/g)</li>
                        <li> 1 taza de rajas con jitomate (1 verdura)</li>
                        <li> 1 cucharadita de aceite (1 aceite y grasa)</li>
                        <li> ½ pieza de pollo (1 producto de origen animal)</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/hipertension/hipertension_1700_tostada.jpg" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title"> Tostadas de pollo</h3>
                    <ul class="card-text">
                        <li> 2 tortillas de maíz para tostadas (2 cereales s/g)</li>
                        <li> 1 taza de pimiento y cebolla  (1 verdura)</li>
                        <li> ⅓ de aguacate (1 aceite y grasa)</li>
                        <li> ½ pieza de pollo (1 producto de origen animal)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>