<section class="jumbotron">
    <div class="container"> 
        <div class="row text-center">
            <h2>Sistema de apoyo en nutrición</h2>
            <h3>Tu aliado a una mejor salud</h3>
        </div>
    </div>
</section>

<section class="container containeruno">
  <div class="texto1">
    <h3>Aquí encontraras los datos para mejorar tu salud, sigue las instrucciones de tu medico</h3>
  </div>
  <div class="row">
    <figure class="col-sm-4 col-6"><a routerLink="/diabetes"><img src="assets/buttons/diabetes.png" class="rounded-3"></a></figure>
    <figure class="col-sm-4 col-6"><a routerLink="/dislipidemia"><img src="assets/buttons/dislipidemia.png" class="rounded-3"></a></figure>
    <figure class="col-sm-4 col-6"><a routerLink="/hipertension"><img src="assets/buttons/hipertension.png" class="rounded-3"></a></figure>
    <figure class="col-sm-4 col-6"><a routerLink="/obesidad"><img src="assets/buttons/obesidad.png" class="rounded-3"></a></figure>
    <figure class="col-sm-4 col-6"><a routerLink="/renal"><img src="assets/buttons/renal.png" class="rounded-3"></a></figure>
    <figure class="col-sm-4 col-6"><a routerLink="/prenatal"><img src="assets/buttons/prenatal.png" class="rounded-3"></a></figure>
  </div>
</section>

<!--div class="seccion2">
  <h1>seccion de raciones</h1>
</div>

<div class="seccion3">
  <h1>seccion de ejercicio</h1>
</div-->