<section class="jumbotron">
    <div class="container"> 
        <div class="row text-center">
            <h2>Sistema de apoyo en nutricion</h2>
            <h3>Tu aliado a una mejor salud</h3>
        </div>
    </div>
</section>

<section class="container containeruno">
  <div class="texto1">
    <h3>Aqui encontraras los datos para mejorar tu salud, sigue las instrucciones de tu medico</h3>
  </div>
  <div class="row">

    <figure class="col-sm-3"><a routerLink="/diabetes"><img src="../../../assets/buttons/diabetes.png"></a></figure>
    <figure class="col-sm-3"><a routerLink="/dislipidemia"><img src="../../../assets/buttons/dislipidemia.png"></a></figure>
    <figure class="col-sm-3"><a routerLink="/hipertension"><img src="../../../assets/buttons/hipertension.png"></a></figure>
    <figure class="col-sm-3"><a routerLink="/obesidad"><img src="../../../assets/buttons/obesidad.png"></a></figure>
  </div>
  <div class="row">
    <figure class="col-sm-4"><a routerLink="/renal"><img src="../../../assets/buttons/renal.png"></a></figure>
    <figure class="col-sm-4"><a routerLink="/prenatal"><img src="../../../assets/buttons/prenatal.png"></a></figure>
    <figure class="col-sm-4"><a routerLink="/lactante"><img src="../../../assets/buttons/lactante.png"></a></figure>
  </div>
</section>

<div class="seccion2">
  <h1>seccion de raciones</h1>
</div>

<div class="seccion3">
  <h1>seccion de ejercicio</h1>
</div>