<h3>Alimentos NO PERMITIDOS para personas con enfermedad renal</h3>

<div >
    <div class="card" >
        <p class="card-text">
            Cuando los riñones no están funcionando normalmente el sodio se acumula en el cuerpo lo que causa que algunas partes del cuerpo como los tobillos se hinchen y la presión sanguínea aumente, por lo que es necesario reducir su ingesta.

Un consumo excesivo de azúcares eleva la glucosa en sangre, puede dañar los vasos sanguíneos de los riñones y esto llevar a mayores complicaciones por lo que se recomienda evitar su consumo.

Si bien la ingesta de grasas es importante, el consumo de grasa saturada se debe reducir al máximo para evitar hipercolesterolemia y otras complicaciones.</p>
        <div class="card-body">
            <table class="table table-striped table-bordered table1"> 
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Cantidad</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let item2 of comida[0].raciones" >
                        <th>{{item2.nombre}}</th>
                        <th>{{item2.cantidad}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>