<div class="container">
    <div class="card desayuno">
        <div class="card-body">
            <h3 class="card-title title-principal">Desayuno</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/dislipidemia/dislipidemia_1800 huevo a la mexicana.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Huevo a la mexicana</h3>
                        <ul class="card-text">
                            <li> 1 taza de pico de gallo (1 verdura)</li>
                            <li> 2 huevos enteros (2 productos de origen animal)</li>
                            <li> 2 tortillas de maíz (2 cereales s/g)</li>
                            <li> 2 cucharaditas cafeteras de aceite (2 aceites y grasas)</li>
                            <li> 1 taza de leche light (1 producto lácteo)</li>
                            <li> 5 galletas marias (1 cereal s/g)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/dislipidemia/dislipidemia_1800 huevo con calabazas .jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Huevo con calabazas</h3>
                        <ul class="card-text">
                            <li> 2 pieza de huevo (2 producto de origen animal)</li>
                            <li> 1 taza de calabaza y cebolla (1 verdura)</li>
                            <li> 2 cucharaditas de aceite (2 aceites y grasas)</li>
                            <li> 3 tortillas de maíz (3 cereales s/g)</li>
                            <li> 1 taza de leche descremada (1 producto lácteo)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/dislipidemia/dislipidemia_1800 chilaquiles.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Chilaquiles con huevo</h3>
                        <ul class="card-text">
                            <li> 2 pieza de huevo (2 producto de origen animal)</li>
                            <li> 1 taza de champiñones (1 verdura)</li>
                            <li> 2 cucharaditas de aceite (2 aceites y grasas)</li>
                            <li> 3 tortillas de maíz para freír (3 cereales s/g)</li>
                            <li> 1 taza de leche descremada (1 producto lácteo)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>




<div class="container">
    <div class="card colacion">

        <div class="card-body">
            <h3 class="card-title title-principal">Colacion</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/dislipidemia/dislipidemia_1800 guayabas con cacahuates .jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>2 guayabas (1 fruta)</li>
                            <li>14 cacahuates (1 aceite y grasa)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/dislipidemia/dislipidemia_1800 melón con nuez .jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>1 taza de melón (1 fruta)</li>
                            <li>7 mitades de nuez (1 aceite y grasa)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/dislipidemia/dislipidemia_1800 manzana con nueces .jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>1 pieza de manzana (1 fruta)</li>
                            <li>6 mitades de nuez (1 aceite y grasa)</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>
</div>


<div class="container">
    <div class="card comida">

        <div class="card-body">
            <h3 class="card-title title-principal">Comida</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/dislipidemia/dislipidemia_1800 tostadas de pollo.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Tostadas de pollo</h3>
                        <ul class="card-text">
                            <li> 1 y ½ taza de lechuga, 1 taza de jitomate, cebolla al gusto (2 verduras)</li>
                            <li> 1 y ½ pieza de pechuga cocida (3 productos de origen animal)</li>
                            <li> ⅓ de taza de frijoles molidos (1 leguminosa)</li>
                            <li> ⅔ de aguacate (2 aceite y grasa)</li>
                            <li> 1 cucharada cafetera de aceite (1 aceite y grasa)</li>
                            <li> 3 tostadas (3 cereales s/g)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/dislipidemia/dislipidemia_1800 tortitas de deshebrada.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Tortitas de carne deshebrada</h3>
                        <ul class="card-text">
                            <li> 70 g de carne molida (2 producto de origen animal)</li>
                            <li> 1 huevo (1 producto de origen animal)</li>
                            <li> 2 tazas de zanahoria con pepino (2 verdura)</li>
                            <li> 1 tortilla (1 cereal s/g)</li>
                            <li> 1 taza de arroz (2 cereales s/g)</li>
                            <li> ½ taza de frijoles (1 leguminosa)</li>
                            <li> 2 cucharaditas de aceite (2 aceites y grasas)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/dislipidemia/dislipidemia_1800 pasta con pollo.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Pasta con pollo</h3>
                        <ul class="card-text">
                            <li> 1 taza de champiñones, jitomate y acelgas (2 verduras)</li>
                            <li> 1 y ½ tazas de pasta/espagueti (3 cereales s/g)</li>
                            <li> 1 filete y ½ de pechuga de pollo (3 producto de origen animal)</li>
                            <li> 1 taza de soya (1 leguminosa)</li>
                            <li> 2 cucharaditas de aceite para cocinar (2 aceites y grasas)</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>
</div>


<div class="container">
    <div class="card colacion">

        <div class="card-body">
            <h3 class="card-title title-principal">Colacion</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/dislipidemia/dislipidemia_1800 uvas con nueces .jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>1  taza de uvas (1 fruta)</li>
                            <li>6 mitades de nuez (1 aceite y grasas)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/dislipidemia/dislipidemia_1800 mandarinas con cacahuates .jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>2 mandarinas (1 fruta)</li>
                            <li>14 piezas de cacahuates (1 aceite y grasa)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/dislipidemia/dislipidemia_1800 plátano con almendras.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>½ pieza de plátano (1 fruta)</li>
                            <li>10 almendras (1 aceite y grasa)</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>
</div>


<div class="container">
    <div class="card cena">

        <div class="card-body">
            <h3 class="card-title title-principal">Cena</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/dislipidemia/dislipidemia_1800 entomatadas.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Entomatadas</h3>
                        <ul class="card-text">
                            <li> 3 tortillas de maíz (3 cereales s/g)</li>
                            <li> 40g de queso fresco (1 alimento de origen animal)</li>
                            <li> ⅓ de aguacate (1 aceite y grasa)</li>
                            <li> 1 taza de lechuga, 1 pepino (1 verdura)</li>
                        </ul>
                    </div>
                </div>
            </div>
       <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/dislipidemia/dislipidemia_1800 croquetas de atun.jpg" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Croquetas de atún</h3>
                    <ul class="card-text">
                        <li> 1 y ½ pieza de papa cocida molida (3 cereales s/g)</li> 
                        <li> ½ de lata de atún en agua (1 producto de origen animal)</li>
                        <li> ½ taza de zanahoria rallada (1 verdura)</li>
                        <li> 1 cucharadita de aceite (1 aceite y grasa)</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/dislipidemia/dislipidemia_1800 tostadas de pollo.jpg" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Tostadas de pollo</h3>
                    <ul class="card-text">
                        -1 taza de lechuga, 1 jitomate, cebolla (1 verdura)
                        -2 tortillas de maíz (2 cereales s/g)
                        -½ taza de elote desgranado (1 cereal s/g)
                        -½ pieza de filete de pollo (1 producto de origen animal)
                        -⅓ de aguacate (1 aceite y grasa)
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>