<div class="container">
    <div class="card desayuno">
        <div class="card-body">
            <h3 class="card-title title-principal">Desayuno</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_2100_flautas de queso con acelga.png" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Flautas de queso/acelgas</h3>
                        <ul class="card-text">
                            <li> 4 tortillas de maíz (4 cereales s/g)</li>
                            <li> 2 rebanadas medianas de queso panela (2 productos de origen animal)</li>
                            <li> ½ taza de acelgas (1 verdura)</li>
                            <li> 2 cucharaditas de aceite (2 aceites y grasas)</li>
                            <li> 1 taza de leche descremada (1 producto lácteo)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_2100_papa rellena.png" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Papa rellena</h3>
                        <ul class="card-text">
                            <li> 2 papas cocidas (4 cereales s/g)</li>
                            <li> 2 rebanadas medianas de queso panela (2 productos de origen animal)</li>
                            <li> ½ taza de champiñones perejil, cilantro y salsa sin aceite al gusto (1 verdura)</li>
                            <li> 2 cucharadas de crema (2 aceites y grasas)</li>
                            <li> 1 taza de leche descremada (1 producto lácteo)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_2100_quesadillas.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Quesadillas</h3>
                        <ul class="card-text">
                            <li> 4 tortillas de maíz (4 cereales s/g)</li>
                            <li> 2 rebanadas medianas de queso panela (2 productos de origen animal)</li>
                            <li> ½ taza de ejotes con zanahoria (1 verdura)</li>
                            <li> 2 cucharaditas de aceite (2 aceites y grasas)</li>
                            <li> 1 taza de leche descremada (1 producto lácteo)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>




<div class="container">
    <div class="card colacion">

        <div class="card-body">
            <h3 class="card-title title-principal">Colacion</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_2100_manzana y almendras prenatal_2200_manzana y almendras.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>2 manzanas (2 frutas)</li>
                            <li>10 almendras (1 aceite y grasa)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_1500_fresas y almendras prenatal_2100_fresas y almendras.png" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>2 tazas de fresas picadas (2 frutas)</li>
                            <li>10 piezas de almendras (1 aceite c/p)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_2100_kiwi y almendras.png" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>3 kiwis (2 frutas)</li>
                            <li>10 piezas de almendras  (1 aceite c/p)</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>
</div>


<div class="container">
    <div class="card comida">

        <div class="card-body">
            <h3 class="card-title title-principal">Comida</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_2100_albondigas.png" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Albóndigas</h3>
                        <ul class="card-text">
                            <li> 2 tazas de arroz (4 cereales s/g)</li>
                            <li> 60g de carne molida, 1 huevo (3 productos de origen animal)</li>
                            <li> 2 tazas de tomate con chipotle (2 verduras)</li>
                            <li> 3 cucharaditas de aceite (3 aceite y grasa)</li>
                            <li> ⅓ de taza de frijoles molidos (1 leguminosa)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_2100_chilaquiles.png" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Chilaquiles</h3>
                        <ul class="card-text">
                            <li> 4 tostadas de maíz horneadas (2 cereales s/g)</li>
                            <li> 60g de pollo sin piel, 40g de queso panela rallado (3 productos de origen animal)</li>
                            <li> 5 tomatitos verdes, 2 chiles, ½ taza de jitomate (2 verduras)</li>
                            <li> 3 cucharaditas de aceite (3 aceite y grasa)</li>
                            <li> ⅓ de taza de frijoles molidos (1 leguminosa)</li>
                            <li> 1 bolillo sin migajón (2 cereales s/g)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_2100_pasta.png" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Pasta</h3>
                        <ul class="card-text">
                            <li> 2 tazas de pasta de tornillo (4 cereales s/g)</li>
                            <li> 60g de bistec de res, 40g de queso panela (3 productos de origen animal)</li>
                            <li> 1 taza de acelgas con zanahorias (2 verduras)</li>
                            <li> 3 cucharaditas de aceite (3 aceite y grasa)</li>
                            <li> ⅓ de taza de garbanzos (1 leguminosa)</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>
</div>


<div class="container">
    <div class="card colacion">

        <div class="card-body">
            <h3 class="card-title title-principal">Colacion</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_2100_platano_almendra y yogurt.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>1 plátano (2 frutas)</li>
                            <li>1 taza de yogurt natural descremado sin azúcar (1 producto lácteo)</li>
                            <li>2 cucharadas de almendras fileteadas (2 aceites y grasas)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_2100_fresa_platano_yogurt y crema de mani.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>½ plátano, 1 taza de fresas (2 frutas)</li>
                            <li>1 taza de yogurt natural descremado sin azúcar (1 producto lácteo)</li>
                            <li>4 cucharaditas de crema de cacahuate (2 aceites y grasas)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_2000_platano_yogurt_almendras prenatal_2100_platano y yogurt.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>½ plátano, ¾ de taza de blueberry (2 frutas)</li>
                            <li>1 taza de yogurt descremado sin azúcar (1 producto lácteo)</li>
                            <li>20 piezas de almendras (2 aceites y grasas)</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>
</div>


<div class="container">
    <div class="card cena">

        <div class="card-body">
            <h3 class="card-title title-principal">Cena</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_2100_quesadillas.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Quesadillas</h3>
                        <ul class="card-text">
                            <li> 2 tortillas de maíz (2 cereales s/g)</li>
                            <li> 40 g de queso panela (1 producto de origen animal)</li>
                            <li> 1 calabacita (1 verdura)</li>
                            <li> 2 cucharaditas de aceite (2 aceites y grasas)</li>
                        </ul>
                    </div>
                </div>
            </div>
       <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/prenatal/prenatal_2100_tacos.png" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Tacos</h3>
                    <ul class="card-text">
                        <li> 2 tortillas de maíz (2 cereales s/g)</li>
                        <li> 60g de bistec de res (1 producto de origen animal)</li>
                        <li> 1 taza de pepino (1 verdura)</li>
                        <li> 2 cucharaditas de aceite (2 aceites y grasas)</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/prenatal/prenatal_2100_ensalada de atun.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Ensalada de atún</h3>
                    <ul class="card-text">
                        <li> 1 papa cocida picada (2 cereales s/g)</li>
                        <li> ⅓ de lata de atún (1 producto de origen animal)</li>
                        <li> 1 taza de pepino y jitomate (1 verdura)</li>
                        <li> 2 cucharaditas de aceite (2 aceites y grasas)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>