<div class="container">
    <div class="card desayuno">
        <div class="card-body">
            <h3 class="card-title title-principal">Desayuno</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/dislipidemia/dislipidemia_1300 omellette de acelgas.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Omelette</h3>
                        <ul class="card-text">
                            <li> 2 huevos (2 productos de origen animal)</li>
                            <li> ½ taza de acelgas (1 verdura)</li>
                            <li> 2 cucharaditas de aceite (2 aceites y grasas)</li>
                            <li> 3 tortillas de maíz (3 cereales s/g)</li>
                            <li> 1 taza de leche descremada (1 producto lácteo)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/dislipidemia/dislipidemia_2000 tortitas de huevo con zanahoria.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Tortitas de huevo con zanahoria</h3>
                        <ul class="card-text">
                            <li> ½ taza de zanahoria rallada (1 verdura)</li>
                            <li> 1 papá cocida y ½  (3 cereales s/g)</li>
                            <li> 2 huevos (2 producto de origen animal)</li>
                            <li> 2 cucharadas cafeteras de aceite (2 aceites y grasas)</li>
                            <li> 1 taza de leche (1 producto lácteo)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/dislipidemia/dislipidemia_2000 pan tostado con huevo .jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Pan tostado con huevo</h3>
                        <ul class="card-text">
                            <li> 3 rebanadas de pan tostado cero cero (3 cereales s/g)</li>
                            <li> 1 taza de nopales (1 verdura)</li>
                            <li> 2 huevos (2 productos de origen anima)</li>
                            <li> 2 cucharaditas cafetera de aceite (2 aceites y grasas)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>




<div class="container">
    <div class="card colacion">

        <div class="card-body">
            <h3 class="card-title title-principal">Colacion</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/dislipidemia/dislipidemia_2000 mandarinas con cacahuates.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>2 mandarinas (1 fruta)</li>
                            <li>14 piezas de cacahuates (1 aceite y grasa)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/dislipidemia/dislipidemia_2000 plátano con almendras.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>½ pieza de plátano (1 fruta)</li>
                            <li>10 almendras (1 aceite y grasa)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/dislipidemia/dislipidemia_2000 guayabas con almendras.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>3 guayabas (1 fruta)</li>
                            <li>10 piezas de almendras (1 aceite y grasa)</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>
</div>


<div class="container">
    <div class="card comida">

        <div class="card-body">
            <h3 class="card-title title-principal">Comida</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/dislipidemia/dislipidemia_2000 bistec con ejotes.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Bistec con ejotes</h3>
                        <ul class="card-text">
                            <li> 1 y ½ pieza de bistec (3 productos de origen animal)</li>
                            <li> 1 cucharada sopera de aceite (3 aceite y grasa)</li>
                            <li> 1 taza y media de arroz (3 cereales s/g)</li>
                            <li> 1 taza de ejotes con cebolla (2 verdura)</li>
                            <li> ½ taza de frijoles enteros (1 leguminosa)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/dislipidemia/dislipidemia_2000 calabacitas rellenas.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Calabazas rellenas</h3>
                        <ul class="card-text">
                            <li> 2 calabazas ( 2 verduras)</li>
                            <li> 60 g de pollo desmenuzado ( 2 productos de origen animal)</li>
                            <li> 40 g de queso panela/ 1 rebanada delgada (1 producto de origen animal)</li>
                            <li> 1 aguacate (3 aceites y grasas)</li>
                            <li> ½ taza de lentejas (1 leguminosa)</li>
                            <li> 1 taza y media  taza de arroz (3 cereales s/g)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/dislipidemia/dislipidemia_2000 salpicón de res.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Salpicón de res</h3>
                        <ul class="card-text">
                            <li> 2 tazas de lechuga, jitomate y cebolla (2 verduras)</li>
                            <li> 90 g de carne deshebrada (3 productos de origen animal)</li>
                            <li> 3 tortillas para hacer tostadas (3 cereales s/g)</li>
                            <li> ½  taza de soya (1 leguminosa)</li>
                            <li> 1 cucharada sopera de aceite (3 aceites y grasas)</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>
</div>


<div class="container">
    <div class="card colacion">

        <div class="card-body">
            <h3 class="card-title title-principal">Colacion</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/dislipidemia/dislipidemia_2000  segunda colación manzana con cacahuates.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li> 1 manzana (1 frutas)</li>
                            <li> 1 taza de yogurt natural descremado sin azúcar (1 producto lácteo)</li>
                            <li> 10 almendras  (1 aceites y grasas)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/dislipidemia/dislipidemia_2000 segunda colación melón con almendras.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li> 1 taza de melón (1 fruta)</li>
                            <li> 1 taza de leche light</li>
                            <li> 10 almendras fileteadas (1 aceite y grasa)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/dislipidemia/dislipidemia_2000 colación 2 yogurt con fresas y almendras .jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li> 1 taza de fresas (1 fruta)</li>
                            <li> 10 almendras (1 aceite y grasa)</li>
                            <li> 1 taza de yogurt descremado sin azúcar (1 lácteo)</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>
</div>


<div class="container">
    <div class="card cena">

        <div class="card-body">
            <h3 class="card-title title-principal">Cena</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/dislipidemia/dislipidemia_2000 entomatadas.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Entomatadas</h3>
                        <ul class="card-text">
                            <li> 3 tortillas de maíz (3 cereales s/g)</li>
                            <li> 40g de queso fresco (1 producto de origen animal)</li>
                            <li> ⅓ de aguacate (1 aceite y grasa)</li>
                            <li> 1 taza de lechuga, 1 pepino (1 verdura)</li>
                        </ul>
                    </div>
                </div>
            </div>
       <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/dislipidemia/dislipidemia_2000 espagueti con pollo.jpg" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Pollo con Espagueti</h3>
                    <ul class="card-text">
                        <li> 1 taza y media de espagueti (3 cereales s/g)</li>
                        <li> ½ bistec de pollo (1 producto de origen animal)</li>
                        <li> 1 taza de tomate (1 verdura)</li>
                        <li> 2 cucharadas de crema (2 aceites y grasas)</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/dislipidemia/dislipidemia_2000 tostadas de pollo.jpg" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Tostadas de pollo</h3>
                    <ul class="card-text">
                        <li> 1 taza de lechuga, 1 jitomate, cebolla (1 verdura)</li>
                        <li> 2 tortillas de maíz (2 cereales s/g)</li>
                        <li> ½ taza de elote desgranado (1 cereal s/g)</li>
                        <li> ½ pieza de filete de pollo (1 producto de origen animal</li>)
                        <li> ⅓ de aguacate (1 aceite y grasa)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>