<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">

    <a href="#" class="navbar-brand">NutriADD</a>

    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navegacion">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navegacion" class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Patologias</a>
          <div class="dropdown-menu bg-light border-0">
            <a routerLink="diabetes" class="dropdown-item">Diabetes</a>
            <a routerLink="dislipidemia" class="dropdown-item">Dislipidemia</a>
            <a routerLink="hipertension" class="dropdown-item">Hipertension</a>
            <a routerLink="obesidad"class="dropdown-item">Obesidad</a>
            <a routerLink="renal" class="dropdown-item">Renal</a>
            <a routerLink="prenatal" class="dropdown-item">Prenatal</a>
            <a routerLink="#" class="dropdown-item">Lactante</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Menus de comida</a>
          <div class="dropdown-menu bg-light border-0">
            <a routerLink="menuDiabetes" class="dropdown-item">Diabetes</a>
            <a routerLink="menuDislpidemia" class="dropdown-item">Dislipidemia</a>
            <a routerLink="menusHipertension" class="dropdown-item">Hipertension</a>
            <a routerLink="menusObesidad"class="dropdown-item">Obesidad</a>
            <a routerLink="menusRenal" class="dropdown-item">Renal</a>
            <a routerLink="menusPrenatal" class="dropdown-item">Prenatal</a>
            <a routerLink="#" class="dropdown-item">Lactante</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Actividad fisica</a>
          <div class="dropdown-menu bg-light border-0">
            <a routerLink="#" class="dropdown-item">Diabetes</a>
            <a routerLink="#" class="dropdown-item">Dislipidemia</a>
            <a routerLink="#" class="dropdown-item">Hipertension</a>
            <a routerLink="#"class="dropdown-item">Obesidad</a>
            <a routerLink="#" class="dropdown-item">Renal</a>
            <a routerLink="#" class="dropdown-item">Prenatal</a>
            <a routerLink="#" class="dropdown-item">Lactante</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Raciones</a>
          <div class="dropdown-menu bg-light border-0">
            <a routerLink="tablasDeEquivalentesDiabetes" class="dropdown-item">Diabetes</a>
            <a routerLink="tablasDeEquivalentesDislipidemia" class="dropdown-item">Dislipidemia</a>
            <a routerLink="tablasDeEquivalentesHipertension" class="dropdown-item">Hipertension</a>
            <a routerLink="tablasDeEquivalentesObesidad"class="dropdown-item">Obesidad</a>
            <a routerLink="tablasDeEquivalentesRenal" class="dropdown-item">Renal</a>
            <a routerLink="tablasDeEquivalentesPrenatal" class="dropdown-item">Prenatal</a>
            <a routerLink="#" class="dropdown-item">Lactante</a>
          </div>
        </li>

      </ul>
    </div>

  </div>
</nav>