<div>
    <section class="jumbotron">
        <h1>HIPERTENSION</h1>
    </section>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <section>
                <h2>Breve descripción de la enfermedad</h2>
                <p>
                    La presión arterial alta (MAYOR a 140/90 milimetros de mercurio(mmHg)) se asocia  con el desarrollo de las enfermedades cardiovasculares y cerebrovasculares (insuficiencia cardíaca, arritmias, enfermedades de las válvulas cardíacas, un accidente cerebrovascular, cardiopatía congénita)
                </p>
            </section>
        </div>
        <div class="col-sm-6">
            <img src="assets/imgs/diabetes.jpg">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img src="assets/imgs/diabetes3.jpg">
        </div>
        <div class="col-sm-6">
            <section>
                <h2>Tratamiento</h2>
                <p>
                    La disminución del consumo de sodio (sal), reducción de grasa industrializadas, aumento de ejercicio, y consumo de fibra,  así como la disminución del propio peso,  contribuirá al descenso de la presión arterial
                </p>
            </section>
        </div>
    </div>
</div>

<div class="container">
    <section>
        <h3>Recomendaciones</h3>
        <ul>
            <li>Preferir el consumo de carnes magras (sin grasa), como pollo sin piel  y pescado, huevo, claras de huevo y quesos bajos en grasa como cottage, panela, requesón, fresco y blanco.</li>
            <li>Optar por el consumo de frutas y verduras frescas, si es posible, cruda y/o  con cáscara</li>
            <li>Preferir grasas saludables como aguacate, almendras, nueces, y  aceites vegetales como de canola, soya, oliva</li>
            <li>Moderar el consumo de sal MENOR a 5g al día</li>
            <li>Moderar el consumo de alimentos procesados  y enlatados</li>
            <li>Evitar el  consumo de alcohol y tabaco</li>
            <li>Realizar algún tipo de ejercicio, mínimo 30 minutos al día (caminar, correr, bailar, zumba, aerobics, ejercicios de fuerza, rutinas completas específicas a una parte del cuerpo, etc).</li>
            <li>Preferir:
                Alimentos lácteos descremados (bajos en grasa = light)
                Jamón de pavo, atún en agua (máximo 2 veces a la semana)
                </li>
        </ul>
    </section>
    <section>
        <h3>Causas</h3>
        <p>
            Los principales factores que contribuyen al desarrollo de la hipertensión son:.
            Antecedentes hereditarios de hipertensión
            Sobrepeso y obesidad
            Sedentarismo
            Estrés mental
            Hábitos alimenticios: consumo excesivo de alimentos ricos en sodio y bajos en potasio, pobre ingesta de verduras y frutas
            Abuso en el consumo de alcohol, drogas y tabaquismo
        </p>
    </section>
</div>

<div class="container">
    <div class="row">

        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Raciones sugeridas</h3>
                    <p class="card-text">Aquí podrás encontrar raciones que puedes comer y alimentos que no sugerimos su consumo para tu condición.</p>
                    <a routerLink="/tablasDeEquivalentesHipertension" class="btn btn-primary">Consulta aqui</a>
                </div>
            </div>
        </div>
        
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Relación de la nutrición con la enfermedad</h3>
                    <p class="card-text">La presión arterial alta (>140/90 mmHg) se asocia  con el desarrollo de las enfermedades cardiovasculares y cerebrovasculares (insuficiencia cardíaca, arritmias, enfermedades de las válvulas cardíacas, un accidente cerebrovascular, cardiopatía congénita)</p>
                </div>
            </div>   
        </div>
        
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Menus</h3>
                    <p class="card-text">Aqui puedes encontrar ejemplos de comidas por cantidad de ingesta calorica diaria y con alimentos que puedes consumir y son seguros para ti..</p>
                    <a routerLink="/menusHipertension" class="btn btn-primary">Consulta aqui</a>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="container">
    <div class="row">
        <div>
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Alimentos prohibidos</h3>
                    <p class="card-text">Recuerda que hay alimentos que debes moderar o evitar por completo por el bien de tu salud, aqui puedes encontrar una lista.</p>
                    <a routerLink="/tablaAlimNegativosHipertension" class="btn btn-primary">Consulta aqui</a>
                </div>
            </div>
        </div>
    </div>
</div>