<div class="container">
    <section>
        <h2>Seleciona tus calorias</h2>
        <br>
        <h3>Por que es importante el conteo calorico</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id venenatis sem. Ut non mollis quam, at elementum ante. Donec et varius augue, ac lacinia nisl. Nullam diam justo, porta quis molestie in, sollicitudin et velit. Vivamus sagittis posuere placerat. Nullam eget luctus sem. Maecenas eu tortor eget felis molestie vulputate et a massa. Nullam eget metus in diam faucibus accumsan sit amet in massa. Duis congue, nunc a feugiat tristique, ante erat feugiat nunc, ut faucibus nisi nulla a urna.</p>
    </section>
</div>

<div class="container">

    <div class="row">
        <a routerLink="/menu1200Diabetes" class="col-sm-4" >
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">1200 kcal</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id venenatis sem. Ut non mollis quam, at elementum ante.</p>
                    <a href="#" class="btn btn-primary">Colsulta aqui</a>
                </div>
            </div>
        </a>

        <a class="col-sm-4" href="">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">1300 kcal</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id venenatis sem. Ut non mollis quam, at elementum ante.</p>
                    <a href="#" class="btn btn-primary">Colsulta aqui</a>
                </div>
            </div>
        </a>

        <a class="col-sm-4" href="">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">1400 kcal</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id venenatis sem. Ut non mollis quam, at elementum ante.</p>
                    <a href="#" class="btn btn-primary">Colsulta aqui</a>
                </div>
            </div>
        </a>
    </div>

    <div class="row">
        <a class="col-sm-4" href="">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">1500 kcal</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id venenatis sem. Ut non mollis quam, at elementum ante.</p>
                    <a href="#" class="btn btn-primary">Colsulta aqui</a>
                </div>
            </div>
        </a>

        <a class="col-sm-4" href="">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">1600 kcal</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id venenatis sem. Ut non mollis quam, at elementum ante.</p>
                    <a href="#" class="btn btn-primary">Colsulta aqui</a>
                </div>
            </div>
        </a>

        <a class="col-sm-4" href="">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">1700 kcal</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id venenatis sem. Ut non mollis quam, at elementum ante.</p>
                    <a href="#" class="btn btn-primary">Colsulta aqui</a>
                </div>
            </div>
        </a>
    </div>

    <div class="row">
        <a class="col-sm-6" href="">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">1800 kcal</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id venenatis sem. Ut non mollis quam, at elementum ante.</p>
                    <a href="#" class="btn btn-primary">Colsulta aqui</a>
                </div>
            </div>
        </a>
        <a class="col-sm-6" href="">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">2000 kcal</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id venenatis sem. Ut non mollis quam, at elementum ante.</p>
                    <a href="#" class="btn btn-primary">Colsulta aqui</a>
                </div>
            </div>
        </a>
    </div>
</div>