<div>
    <section class="jumbotron">
        <h1>INSUFICIENCIA RENAL</h1>
    </section>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <section>
                <h2>Breve descripcion de la enfermedad</h2>
                <p>
                    La insuficiencia renal es una afección que provoca que los riñones pierdan la capacidad de eliminar los desechos y equilibrar los fluidos, esta capacidad dependerá del daño
                </p>
            </section>
        </div>
        <div class="col-sm-6">
            <img src="assets/imgs/diabetes.jpg">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img src="assets/imgs/diabetes3.jpg">
        </div>
        <div class="col-sm-6">
            <section>
                <h2>Tratamiento</h2>
                <p>
                    En esta enfermedad la alimentación es muy individualizada dependiendo de las característica, complicaciones, cifras de laboratorio y función renal del paciente, en general el tratamiento pretende conservar la función renal y el estado nutricional del paciente para evitar complicaciones, cuidando el consumo de proteínas, grasas, azúcares, sodio, fósforo y potasio de la dieta así como las deficiencias de nutrientes que se tengan.
                </p>
            </section>
        </div>
    </div>
</div>

<div class="container">
    <section>
        <h3>Recomendaciones</h3>
        <ul>
            <li>Reducir el consumo de alimentos altos en sodio, potasio y fósforo </li>
            <li>Reducir el consumo de alimentos ricos en proteína (alimentos de origen animal, leguminosas y lácteos), la cantidad será determinada por el nutriólogo</li>
            <li>Evitar ayunos prolongados (más de 6 horas)</li>
            <li>Eliminar de la dieta alimentos procesados/enlatados/industrializados </li>
            <li> Se recomienda el  método de doble remojo en la cocción de las leguminosas: Frijoles, lentejas, habas, garbanzos, alubias, soya.</li>
            <li>Apegarse a las raciones establecidas por el nutriólogo o nutriologa</li>
            <li> 1.-Remojar las leguminosas con abundante agua un día antes, por 12 horas y tirar agua de remojo</li>
            <li> 2.-Poner a hervir y cuando suelte el primer hervor eliminar el agua</li>
            <li> 3.-Nuevamente poner a hervir y cocinar para poderlas consumir</li>
            <li> Eliminar de la dieta embutidos, tocino, carnes ahumadas, sazonadores como knorr suiza, y cualquier alimento que en su etiqueta marque “ALTO CONTENIDO DE SODIO"</li>
            <li>Recibir sol por al menos 15 minutos al día, usando protector solar</li>
            <li>Condimentar alimentos con especias y hierbas aromáticas para evitar usar sal (laurel, ajo en polvo, albahaca, comino, hierbabuena seca)</li>
            <li>Beber agua en función de la cantidad que el nutriologo o nutriologa determine (contabilizando caldos, sopas, etc)</li>
            <li>Preferir leche/yogurt descremada/light o semidescremada</li>
            <li>De preferencia cocinar las frutas o consumirlas en almíbar (eliminando su jugo)</li>
            <li>En caso de consumir alimentos enlatados poner en remojo durante 2-3 horas y eliminar agua/li>

        </ul>
    </section>
    <section>
        <h3>Causas</h3>
        <P>
            En general cualquier daño directo ya sea físico o fisiológico (función natural del cuerpo) o por enfermedades presentes
            En cuanto a alimentación un descontrol en las cifras de presión arterial y de glucosa en sangre son uno de los principales factores de riesgo
        </P>
    </section>
</div>

<div class="container">
    <div class="row">

        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Raciones y Alimentos no sugeridos</h3>
                    <p class="card-text">Aqui podras encontrar raciones que puedes comer y alimentos que no sugerimos su consumo para tu condicion.</p>
                    <a routerLink="/tablasDeEquivalentesRenal" class="btn btn-primary">Consulta aqui</a>
                </div>
            </div>
        </div>
        
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Relacion de la nutricion con la enfermedad</h3>
                    <p class="card-text">La insuficiencia renal es una afección que provoca que los riñones pierdan la capacidad de eliminar los desechos y equilibrar los fluidos, esta capacidad dependerá del daño.</p>
                </div>
            </div>   
        </div>
        
        <!--div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Menus</h3>
                    <p class="card-text">Aqui puedes encontrar ejemplos de comidas por cantidad de ingesta calorica diaria y con alimentos que puedes consumir y son seguros para ti.</p>
                    <a routerLink="/menusRenal" class="btn btn-primary">Consulta aqui</a>
                </div>
            </div>
        </div-->

    </div>
</div>