<div class="container">
    <div class="card desayuno">
        <div class="card-body">
            <h3 class="card-title title-principal">Desayuno</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_1700_huevo_con_ejotes prenatal_1800_huevo_revuelto.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Huevo con ejotes</h3>
                        <ul class="card-text">
                            <li> 1 pieza de huevo (1 producto de origen animal)</li>
                            <li> ½ taza de ejotes (1 verdura)</li>
                            <li> 2 cucharaditas de aceite (2 aceites y grasas)</li>
                            <li> 3 tortillas de maíz (3 cereales s/g)</li>
                            <li> 1 taza de leche descremada (1 producto lácteo)
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_1700_omelette_.png" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Omelette</h3>
                        <ul class="card-text">
                            <li> 2 claras de huevo (1 producto de origen animal)</li>
                            <li> ½ taza de espinacas (1 verdura)</li>
                            <li> 2 cucharaditas de aceite (2 aceites y grasas)</li>
                            <li> 3 tortillas de maíz (3 cereales s/g)</li>
                            <li> 1 taza de leche descremada (1 producto lácteo)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_1700_brocoli con papas.png" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Brócoli con papas</h3>
                        <ul class="card-text">
                            <li> ½ taza de brócoli (1 verdura)</li>
                            <li> 40g de queso panela (1 producto de origen animal)</li>
                            <li> 1 ½ papa cocida (3 cereales s/g)</li>
                            <li> 2 cucharaditas de aceite de oliva (2 aceites s/p)</li>
                            <li> 1 taza de leche descremada (1 producto lácteo)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>




<div class="container">
    <div class="card colacion">

        <div class="card-body">
            <h3 class="card-title title-principal">Colacion</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_1600_mandarina y almendras prenatal_1700_mandarinas y almendras.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>2 mandarinas (1 fruta)</li>
                            <li>14 piezas de cacahuates (1 aceite y grasa)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_1700_guayabas y almendras.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>3 guayabas (1 fruta)</li>
                            <li>10 piezas de almendras (1 aceite c/p)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_1700_guayaba y nuez.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>3 piezas de guayaba (1 fruta)</li>
                            <li>6 mitades de nuez (1 aceite c/p)</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>
</div>


<div class="container">
    <div class="card comida">

        <div class="card-body">
            <h3 class="card-title title-principal">Comida</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_1700_salpicon.png" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Salpicón</h3>
                        <ul class="card-text">
                            <li> 90g de bistec (3 producto de origen animal)</li>
                            <li> 2 tazas de verduras mixtas- calabacita, chayote zanahoria (2 verdura)</li>
                            <li> 1 papa cocida picada (2 cereales s/g)</li>
                            <li> ½ taza de garbanzos (1 leguminosa)</li>
                            <li> 2 tortillas de maíz (2 cereales s/g)</li>
                            <li> 2 cucharaditas de aceite para cocinar (2 aceites y grasas)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_1700_pasta_con_pollo prenatal_1800_ensalada de tornillo.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Pasta con pollo</h3>
                        <ul class="card-text">
                            <li> 1 taza de champiñones, jitomate y acelgas (2 verduras)</li>
                            <li> 2 taza de pasta/espagueti (4 cereales s/g)</li>
                            <li> 90g de pechuga de pollo (3 producto de origen animal)</li>
                            <li> 1 taza de soya (1 leguminosa)</li>
                            <li> 2 cucharaditas de aceite para cocinar (2 aceites y grasas s/p)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_1700_molletes.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Molletes</h3>
                        <ul class="card-text">
                            <li> 2 bolillos sin migajón (4 cereales s/g)</li>
                            <li> ⅓ de taza de frijoles molidos (1 leguminosa)</li>
                            <li> 40g de queso panela rallado (1 productos de origen animal)</li>
                            <li> Ensalada: 60g de pollo deshebrado (2 productos de origen animal)</li>
                            <li> 1 taza de jitomate, ½ taza de espinacas, 1 tza de lechuga (2 verduras)</li>
                            <li> 2 cucharadas de crema (2 aceites s/p)</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>
</div>


<div class="container">
    <div class="card colacion">

        <div class="card-body">
            <h3 class="card-title title-principal">Colacion</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_1700_naranja y cacahuate.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>2 naranjas (1 fruta)</li>
                            <li>14 piezas de cacahuates (1 aceite y grasa)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_1700_papaya y almendras.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>1 taza de papaya (1 fruta)</li>
                            <li>2 cucharadas de almendras fileteadas (2 aceites c/p)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_1700_platano con almendras.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>3 plátanos dominicos (1 fruta)</li>
                            <li>10 almendras (1 aceite c/p)</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>
</div>


<div class="container">
    <div class="card cena">

        <div class="card-body">
            <h3 class="card-title title-principal">Cena</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/prenatal/prenatal_1700_gorditas.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Gorditas</h3>
                        <ul class="card-text">
                            <li> 2 gorditas de maíz (2 cereales s/g)</li>
                            <li> Relleno: 1 taza de nopales (1 verdura)</li>
                            <li> 1 cucharadita de aceite (1 aceite y grasa)</li>
                            <li> 1 rebanada mediana de queso panela-40g (1 producto de origen animal)</li>
                        </ul>
                    </div>
                </div>
            </div>
       <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/prenatal/prenatal_1700_sincronizada.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Sincronizadas</h3>
                    <ul class="card-text">
                        <li> 2 tortillas de maíz (2 cereales s/g)</li>
                        <li> 2 rebanadas de jamón de pavo (1 alimento de origen animal)</li>
                        <li> 4 tomatitos cherry (1 verdura)</li>
                        <li> 1 cucharadita de aceite (1 aceite y grasa)</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/prenatal/prenatal_1700_quesadillas.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Quesadillas</h3>
                    <ul class="card-text">
                        <li> 2 tortillas de maíz (2 cereales s/g)</li>
                        <li> 40g de queso panela (1 alimento de origen animal)</li>
                        <li> ½ taza de champiñones (1 verdura)</li>
                        <li> 1 cucharadita de aceite (1 aceite y grasa)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>