<div class="container">
    <div class="card desayuno">
        <div class="card-body">
            <h3 class="card-title title-principal">Desayuno</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/obesidad/obesidad_1700_huevo revuelto.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Huevo revuelto</h3>
                        <ul class="card-text">
                            <li> 1 pieza de huevo (1 producto de origen animal) </li>
                            <li> 1 taza de calabazas cocidas (1 verdura) </li>
                            <li> 2 cucharaditas de aceite (2 aceites y grasas) </li>
                            <li> 3 tortillas de maíz (3 cereales s/g) </li>
                            <li> 1 taza de leche descremada con café sin azúcar (1 producto lácteo) </li>                            
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/obesidad/obesidad_1700_pizza.png" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Pizza</h3>
                        <ul class="card-text">
                            <li> 1 pan pita (3 cereales s/g) </li>
                            <li> 40g de queso fresco rallado (1 producto de origen animal) </li>
                            <li> 1 taza de espinacas, 4 tomates cherry (1 verdura) </li>
                            <li> 2 cucharaditas de aceite de oliva (2 aceites s/p) </li>
                            <li> 1 taza de leche light (1 producto lácteo) </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/obesidad/obesidad_1700_huevo con nopales obesidad_2000_huevo con nopales.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Huevo con nopales</h3>
                        <ul class="card-text">
                            <li> 1 huevo (1 producto de origen animal) </li>
                            <li> 1 taza de nopales (1 verdura) </li>
                            <li> 2 cucharaditas de aceite (2 aceites s/p) </li>
                            <li> 3 tortillas de maíz (3 cereales s/g) </li>
                            <li> 1 taza de leche light con café sin azúcar (1 producto lácteo) </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>




<div class="container">
    <div class="card colacion">

        <div class="card-body">
            <h3 class="card-title title-principal">Colacion</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/obesidad/obesidad_1700_mandarinas y nuez.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>2 mandarinas (1 fruta)</li>
                            <li>6 mitades de nuez (1 aceite y grasa)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/obesidad/obesidad_1700_papaya y almendras prenatal_1700_papaya y almendras.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>1 taza de papaya (1 fruta)</li>
                            <li>2 cucharadas de almendras fileteadas (1 aceite c/p)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/obesidad/obesidad_1700_piña y almendras obesidad_2000_piña y almendras.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li> 1 taza de piña (1 fruta)</li>
                            <li> 2 cucharadas de almendras fileteadas (1 aceite y grasa c/p)</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>
</div>


<div class="container">
    <div class="card comida">

        <div class="card-body">
            <h3 class="card-title title-principal">Comida</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/obesidad/obesidad_1700_salpicon.png" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Salpicón</h3>
                        <ul class="card-text">
                            <li> 90g de carne de res (3 producto de origen animal)</li>
                            <li> 2 tazas de verduras mixtas- tomate, cebolla chayote, zanahoria (2 verdura)</li>
                            <li> 3 tortillas de maíz (3 cereales s/g)</li>
                            <li> 2 cucharaditas de aceite para cocinar (2 aceites y grasas)</li>
                            <li> 1/2 papa cocida picada (1 cereale s/g)</li>
                            <li> ½ taza de lentejas (1 leguminosa)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/obesidad/obesidad_1700_calabaza rellena.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Calabazas rellenas</h3>
                        <ul class="card-text">
                            <li> 2 calabazas medianas (1 verdura) </li>
                            <li> 30g de carne molida, 40g de queso (3 productos de origen animal)</li>
                            <li> ½ taza de frijoles enteros (1 leguminosa)</li>
                            <li> 2 cucharaditas de aceite (2 aceites s/p)</li>
                            <li> 1 taza de arroz (2 cereales s/g)</li>
                            <li> 2 tortillas de maíz (2 cereales s/g)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/obesidad/obesidad_1700_pescado al papillote.png" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Pescado al papillote</h3>
                        <ul class="card-text">
                            <li> 1 ½ filete de pescado (3 producto de origen animal)</li>
                            <li> ½ taza de pimiento morrón fileteado (1 verdura)</li>
                            <li> ½ taza de elote desgranado (1 cereal s/g)</li>
                            <li> 3 tortillas de maíz (3 cereales s/g)</li>
                            <li> 2 cucharaditas de aceite de oliva (2 aceites s/p)</li>
                            <li> ½ taza de lentejas (1 leguminosa)</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>
</div>


<div class="container">
    <div class="card colacion">

        <div class="card-body">
            <h3 class="card-title title-principal">Colacion</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/obesidad/obesidad_1700_naranja y cacahuate.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>2 naranjas (1 fruta)</li>
                            <li>14 piezas de cacahuates (1 aceite y grasa)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/obesidad/obesidad_1300_piña con almendras obesidad_1700_piña y almendras.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>1 taza  de piña (1 fruta)</li>
                            <li>10 piezas de almendras (1 aceite c/p)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/obesidad/obesidad_1700_prenatal_1400_prenatal_1600_prenatal_2000_platano completo con crema de mani.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>½ plátano (1 fruta)</li>
                            <li>2 cucharaditas de crema de cacahuate (1 aceite c/p)</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>
</div>


<div class="container">
    <div class="card cena">

        <div class="card-body">
            <h3 class="card-title title-principal">Cena</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/obesidad/obesidad_1700_gorditas prenatal_1700_gorditas.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Gorditas</h3>
                        <ul class="card-text">
                            <li> 2 gorditas de maíz (2 cereales s/g)</li>
                            <li> Relleno: 1 taza de nopales (1 verdura)</li>
                            <li> 1 cucharadita de aceite (1 aceite y grasa)</li>
                            <li> 1 rebanada mediana de queso panela-40g (1 producto de origen animal)</li>
                        </ul>
                    </div>
                </div>
            </div>
       <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/obesidad/obesidad_1700_quesadillas prenatal_1700_quesadillas.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Quesadillas</h3>
                    <ul class="card-text">
                        <li> 2 tortillas de maíz (2 cereales s/g)</li>
                        <li> 40g de queso panela (1 producto de origen animal)</li>
                        <li> ½ taza de champiñones (1 verdura)</li>
                        <li> 1 cucharadita de aceite (1 aceite s/p)</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/obesidad/obesidad_1700_sincronizada prenatal_1700_sincronizada.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Sincronizada</h3>
                    <ul class="card-text">
                        <li> 2 tortillas de maíz (2 cereales s/g)</li>
                        <li> 40g de queso panela (1 producto de origen animal)</li>
                        <li> ⅓ de aguacate (1 aceite s/p)</li>
                        <li> 4 tomatitos cherry (1 verdura)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>