<div class="container">
    <div class="card desayuno">
        <div class="card-body">
            <h3 class="card-title title-principal">Desayuno</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/obesidad/obesidad_2000_omelette.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Omelette</h3>
                        <ul class="card-text">
                            <li> 2 huevos (2 productos de origen animal)</li>
                            <li> 1/2 taza de champiñones (1 verdura)</li>
                            <li> 2 cucharaditas de aceite (2 aceites y grasas)</li>
                            <li> 3 tortillas de maíz (3 cereales s/g)</li>
                            <li> 1 taza de leche descremada (1 producto lácteo)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/obesidad/obesidad_2000_tortitas de arroz.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Tortitas de arroz</h3>
                        <ul class="card-text">
                            <li> 1 ½ tazas de arroz (3 cereales s/g)</li>
                            <li> ½ taza de zanahoria con ejotes (1 verdura)</li>
                            <li> 2 cucharaditas de aceite (2 aceites s/p)</li>
                            <li> 2 huevos (1 producto de origen animal)</li>
                            <li> 1 taza de leche descremada (1 producto lácteo)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/obesidad/obesidad_1700_huevo con nopales obesidad_2000_huevo con nopales.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Huevo con nopales</h3>
                        <ul class="card-text">
                            <li> 2 huevos (1 producto de origen animal)</li>
                            <li> 1 taza de nopales (1 verdura)</li>
                            <li> 2 cucharaditas de aceite (2 aceites s/p)</li>
                            <li> 3 tortillas de maíz (3 cereales s/g)</li>
                            <li> 1 taza de leche descremada con café sin azúcar (1 producto lácteo)</li>                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>




<div class="container">
    <div class="card colacion">

        <div class="card-body">
            <h3 class="card-title title-principal">Colacion</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/obesidad/obesidad_1400_platano con crema de cacahuate obesidad_2000_platano con crema de cacahuate.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>1 pieza de plátano (2 frutas)</li>
                            <li>2 cucharadas de crema de cacahuate (1 aceite y grasa)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/obesidad/obesidad_1200_papaya y almendras prenatal_2000_papaya y almendras.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>2 tazas de papaya (2 frutas)</li>
                            <li>14 piezas de cacahuates (1 aceite c/p)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/obesidad/obesidad_1700_piña y almendras obesidad_2000_piña y almendras.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>2 tazas de piña (2 frutas)</li>
                            <li>10 almendras (1 aceite c/p)</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>
</div>


<div class="container">
    <div class="card comida">

        <div class="card-body">
            <h3 class="card-title title-principal">Comida</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/obesidad/obesidad_2000_arroz chino.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Arroz chino</h3>
                        <ul class="card-text">
                            <li> 2 tazas de arroz (4 cereales s/g)</li>
                            <li> 90g de fajitas de pechuga de pollo (3 productos de origen animal)</li>
                            <li> 2 tazas de verduras - Pimiento morrón, chile poblano, zanahoria, calabaza (2 verduras)</li>
                            <li> 3 cucharaditas de aceite (3 aceite y grasa)</li>
                            <li> ½ taza de lentejas</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/obesidad/obesidad_2000_sopa.png" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Sopa</h3>
                        <ul class="card-text">
                            <li> 2 tazas de pasta de fideo cocidas (4 cereales s/g)</li>
                            <li> 90g de pechuga de pollo (3 productos de origen animal)</li>
                            <li> 1 taza de zanahoria (2 verduras)</li>
                            <li> ½ taza de lentejas</li>
                            <li> 3 cucharaditas de aceite (3 aceite y grasa)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/obesidad/obesidad_2000_caldo.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Caldo</h3>
                        <ul class="card-text">
                            <li> 90g de carne de res (3 productos de origen animal)
                            <li> 1 papa cocida (2 cereales s/g)
                            <li> 1 taza de zanahoria (2 verduras)
                            <li> ½ taza de garbanzos (1 leguminosa)
                            <li> 3 cucharaditas de aceite (3 aceite y grasa)
                            <li> 2 tortillas de maíz (2 cereales s/g)
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>
</div>


<div class="container">
    <div class="card colacion">

        <div class="card-body">
            <h3 class="card-title title-principal">Colacion</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/obesidad/obesidad_2000_manzana_yogurt_almendras.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>2 manzanas (2 frutas</li>
                            <li>1 taza de yogurt natural descremado sin azúcar (1 producto lácteo)</li>
                            <li>2 cucharadas de almendras fileteadas (2 aceites y grasas)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/obesidad/obesidad_2000_fresa_yogurt_almendras prenatal_2000_fresa_yogurt_almendras.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>2 tazas de fresas picadas (2 frutas)</li>
                            <li>10 piezas de almendras (1 aceite c/p)</li>
                            <li>1 taza de yogurt light (1 producto lácteo)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/obesidad/obesidad_2000_melon_yogurt_almendra.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Fruta</h3>
                        <ul class="card-text">
                            <li>2 tazas de melón (2 frutas)</li>
                            <li>2 cucharadas de almendras fileteadas (1 aceite)</li>
                            <li>1 taza de yogurt light (1 producto lácteo)</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>
</div>


<div class="container">
    <div class="card cena">

        <div class="card-body">
            <h3 class="card-title title-principal">Cena</h3>
            
        
    
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/obesidad/obesidad_2000_torta.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Torta</h3>
                        <ul class="card-text">
                            <li> 1 bolillo sin migajón (2 cereales s/g)</li>
                            <li> 40 g de queso panela (1 producto de origen animal)</li>
                            <li> ½ taza de champiñones (1 verdura)</li>
                            <li> ⅔ de aguacate (2 aceites y grasas)</li>
                        </ul>
                    </div>
                </div>
            </div>
       <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/obesidad/obesidad_2000_molletitos.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Molletitos</h3>
                    <ul class="card-text">
                        <li> 2 rebanadas de pan integral de caja (2 cereales s/g)</li>
                        <li> 1 huevo (1 producto de origen animal)</li>
                        <li> 1 taza de nopales (1 verdura)</li>
                        <li> 2 cucharaditas de aceite (2 aceites s/p)</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/obesidad/obesidad_2000_tortitas de atun.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Tortitas de atún</h3>
                    <ul class="card-text">
                        <li> 1 papa cocida (2 cereales s/g)</li>
                        <li> ½ taza de atún en agua (1 producto de origen animal)</li>
                        <li> ½ taza de zanahoria (1 verdura)</li>
                        <li> 2 cucharaditas de aceite (2 aceites s/p)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>